@charset "UTF-8";
/* font */
/* ------- media query ------- */
/* ------- mixins ------- */
/* size */
/* pseudo */
/* 置中 */
/* 動畫效果 */
/* text */
.bg-blue {
  background-color: #0a8fc8;
}

.bg-lightblue {
  background-color: #49bfee;
}

.bg-blue-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#12a0de+0,24e783+100 */
  background: #12a0de;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #12a0de 0%, #24e783 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #12a0de 0%, #24e783 100%);
  background: -o-linear-gradient(315deg, #12a0de 0%, #24e783 100%);
  background: linear-gradient(135deg, #12a0de 0%, #24e783 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a0de', endColorstr='#24e783',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.bg-darkorange {
  background-color: #d84815;
}

.bg-orange {
  background-color: #fa7c42;
}

.bg-lightorange {
  background-color: #ffb391;
}

.bg-black {
  background-color: #333333;
}

.bg-darkergray {
  background-color: #444444;
}

.bg-darkgray {
  background-color: #666666;
}

.bg-gray {
  background-color: #909090;
}

.bg-lightgray {
  background-color: #d2d2d2;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  background-color: #333333;
}

.text-darkergray {
  background-color: #444444;
}

.text-darkgray {
  background-color: #666666;
}

.text-gray {
  background-color: #909090;
}

.text-lightgray {
  background-color: #d2d2d2;
}

.text-white {
  background-color: #ffffff;
}

h1,
.h1 {
  font-size: 20px;
  margin: 0;
}

h2,
.h2 {
  font-size: 18px;
  margin: 0;
}

h3,
.h3 {
  font-size: 16px;
  margin: 0;
}

h4,
.h4 {
  font-size: 14px;
  margin: 0;
}

p {
  font-size: 14px;
  color: #444444;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

.icon {
  display: inline-block;
}

button {
  color: inherit;
  border: none;
  outline: none;
}

button:focus,
.btn.focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* bootstrap: btn -------------------- */
.btn {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 10px 20px;
  border-radius: 2px;
  border: solid 1px #0a8fc8;
  background-color: #0a8fc8;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.btn:focus, .btn.focus, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:disabled, .btn.disabled {
  cursor: not-allowed;
  opacity: 1;
}

.btn:active {
  border: solid 1px #49bfee;
  background-color: #49bfee;
  color: #ffffff;
}

.btn:hover {
  color: #ffffff;
}

.btn.secondary {
  border: solid 1px #0a8fc8;
  background-color: #ffffff;
  color: #0a8fc8;
}

.btn.secondary:active {
  background-color: rgba(73, 191, 238, 0.3);
}

@media (min-width: 360px) {
  .btn {
    padding: 10px 14px;
  }
}

.md-btn {
  position: absolute;
  bottom: 18px;
  left: 50%;
  z-index: 5;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  display: inline-block;
  border-radius: 20px;
  border: solid 1px #0a8fc8;
  background-color: #ffffff;
  width: auto;
  padding: 7px 20px;
  font-size: 0;
}

.md-btn p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: #0a8fc8;
}

.md-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.md-btn:active {
  background-color: rgba(73, 191, 238, 0.3);
}

input,
input.form-control {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  padding: 9px 16px;
  color: #444444;
  background-color: white;
  -webkit-appearance: none;
}

input:hover, input:focus,
input.form-control:hover,
input.form-control:focus {
  background-color: white;
}

input:focus,
input.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

input::-webkit-input-placeholder,
input.form-control::-webkit-input-placeholder {
  color: #909090;
}

input:-ms-input-placeholder,
input.form-control:-ms-input-placeholder {
  color: #909090;
}

input::-ms-input-placeholder,
input.form-control::-ms-input-placeholder {
  color: #909090;
}

input::placeholder,
input.form-control::placeholder {
  color: #909090;
}

input.error,
input.form-control.error {
  border: 1px solid #d84815;
}

input:disabled, input.disabled,
input.form-control:disabled,
input.form-control.disabled {
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  color: #909090;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  z-index: 0;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
  border: solid 1px #0a8fc8;
  min-width: 24px;
  margin: 0;
  padding: 0;
  opacity: 1;
  cursor: pointer;
  border-radius: 2.5px;
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"]:disabled + label, input[type="checkbox"][disabled] + label, input[type="checkbox"].disabled + label,
input[type="radio"]:disabled + label,
input[type="radio"][disabled] + label,
input[type="radio"].disabled + label {
  color: #444444;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: none;
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -1px;
  width: 24px;
  height: 24px;
  background: url("~/../../images/checkbox-hook.svg") center no-repeat;
  background-size: cover;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  margin: 0;
  font-size: 14px;
}

input[type="checkbox"]:checked {
  background-color: #0a8fc8;
}

input[type="checkbox"]:checked::before {
  content: "";
}

input[type="checkbox"][disabled] + label::before, input[type="checkbox"].disabled + label::before {
  background-image: url(../images/sprite.png);
  background-position: -262px -106px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"][disabled] + label::before, input[type="checkbox"].disabled + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 292px 284px;
  }
}

input[type="checkbox"][disabled]:checked + label::before, input[type="checkbox"].disabled:checked + label::before {
  background-image: url(../images/sprite.png);
  background-position: -262px -81px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"][disabled]:checked + label::before, input[type="checkbox"].disabled:checked + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 292px 284px;
  }
}

textarea,
textarea.form-control {
  -webkit-appearance: none;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  padding: 9px 16px;
  color: #444444;
  background-color: white;
  width: 100%;
  max-width: none;
}

textarea:hover, textarea:focus,
textarea.form-control:hover,
textarea.form-control:focus {
  background-color: white;
}

textarea:focus,
textarea.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  color: #909090;
}

textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
  color: #909090;
}

textarea::-ms-input-placeholder,
textarea.form-control::-ms-input-placeholder {
  color: #909090;
}

textarea::placeholder,
textarea.form-control::placeholder {
  color: #909090;
}

textarea.error,
textarea.form-control.error {
  border: 1px solid #d84815;
}

textarea:disabled, textarea.disabled,
textarea.form-control:disabled,
textarea.form-control.disabled {
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  color: #909090;
}

select,
.form-select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  padding: 9px 16px;
  color: #444444;
  background-color: white;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

select:hover, select:focus,
.form-select:hover,
.form-select:focus {
  background-color: white;
}

select:focus,
.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

select::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: #909090;
}

select:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: #909090;
}

select::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: #909090;
}

select::placeholder,
.form-select::placeholder {
  color: #909090;
}

select.error,
.form-select.error {
  border: 1px solid #d84815;
}

select:disabled, select.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  color: #909090;
}

select:disabled,
.form-select:disabled {
  color: #909090;
}

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #d54e53;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #e78c45;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b9ca4a;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #70c0b1;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #7aa6da;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #c397d8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: black;
  color: #eaeaea;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

html,
body {
  height: 100%;
  font-family: "Roboto", "PingFang TC", "NotoSans TC", "Microsoft JhengHei";
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

.guid {
  height: 100%;
}

.guid .bd-sidebar {
  height: 100vh;
}

.guid .bd-content {
  padding: 30px 40px;
  height: 100%;
  overflow-x: hidden;
}

.guid .navbar {
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.guid .navbar-collapse {
  width: 100%;
}

.guid .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.guid .navbar .nav-item {
  padding-bottom: 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 18px;
}

.guid .navbar .nav-link {
  display: block;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #333333;
}

.guid .navbar .dropdown-menu {
  width: 100%;
  position: static;
  border: none;
  background-color: #dbdbdb;
  border-radius: 0;
  padding: 0;
}

.guid .navbar .dropdown-item {
  padding: 10px 20px;
  border-bottom: 1px solid #f8f9fa;
}

.guid .navbar .dropdown-item:active {
  background-color: #dbdbdb;
}

.guid .navbar .dropdown-toggle::after {
  content: none;
}

.guid h1,
.guid h2,
.guid h3,
.guid h4,
.guid h5 {
  padding-bottom: 10px;
  font-weight: 400;
}

.guid button:focus {
  outline: none;
}

.guid pre {
  font-family: monospace;
  font-size: 13px;
  line-height: 1.4;
  overflow: auto;
  letter-spacing: 0;
  margin-bottom: 0;
}

.guid .row pre {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
}

.guid .tag {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 1;
}

.guid .tag code {
  padding: 0;
  border-radius: 3px;
  display: block;
  margin-top: 24px;
  margin-bottom: 48px;
  max-height: 600px;
  border: 1px solid #d7e4e4;
  margin-right: 10px;
}

.guid .preview div[class*="col-"] {
  border: 1px solid #7d8a94;
  background: #aeb6bd;
}

.guid .colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px -10px;
}

.guid .colours .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(18% - 30px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px 20px;
  font-size: 14px;
  border-radius: 12px;
  background: #ffffff;
  -webkit-box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.3);
}

.guid .colours .color .box {
  border-radius: 12px 12px 0 0;
  padding-bottom: 150px;
}

.guid .colours .color .content {
  border-radius: 0 0 12px 12px;
  background: #fff;
  padding: 8px 16px;
  font-weight: 300;
}

.guided-row {
  padding: 20px;
  border-radius: 3px;
  margin-top: 24px;
  border: 1px solid #d1d1d1;
}

.guided-row p:last-child {
  margin-bottom: 0;
}

.demo-block-inner {
  border: 1px solid #e3e3e3;
  padding: 30px;
  background-color: lightslategray;
}

.demo-block .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demo-block .controls span {
  display: inline-block;
  font-size: 14px;
  border-bottom: none;
  color: #333;
  padding: 4px 12px;
  margin-right: 1px;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  border-radius: 3px;
}

.demo-block .controls span.active {
  background-color: #fff;
  border-color: #e3e3e3 #e3e3e3 #fff;
}

.demo-block .content pre {
  padding: 0px;
  border-radius: 3px;
  border: none;
}

@media (max-width: 991.98px) {
  .guid {
    height: auto;
  }
  .guid .navbar {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .guid .navbar .navbar-toggler {
    min-height: 50px;
    width: auto;
    border: none;
  }
  .guid .navbar .nav-link {
    min-height: 0;
  }
  .guid .bd-sidebar {
    height: auto;
  }
  .guid .bd-content {
    margin-top: 60px;
    overflow: hidden;
  }
  .guid .colours > .color {
    width: calc(50% - 30px);
  }
}
/*# sourceMappingURL=guideline.css.map */