@charset "UTF-8";
/* font */
/* radius */
/* ------- media query ------- */
/* ------- mixins ------- */
/* size */
/* pseudo */
/* 置中 */
/* 動畫效果 */
/* text */
/*
This will help you to create spacing classes for margin and padding.

Eg: mt-0 , pl-5

The first letter represents the spacing type ( Margin/Padding ).
m:  margin
p:  padding

The second letter represents the direction.
l: left
r: right
t: top
b: bottom
v: vertical (top and bottom)
h: horizontal (left and right)
a: all

The third represents the spacing value (which you can give your own)

For eg: 'mb-0' means margin-bottom: 0;
*/
.pa-0 {
  padding: 0px;
}

.pl-0 {
  padding-left: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ph-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pa-2 {
  padding: 2px;
}

.pl-2 {
  padding-left: 2px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pv-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.ph-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.pa-4 {
  padding: 4px;
}

.pl-4 {
  padding-left: 4px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pv-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.ph-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.pa-5 {
  padding: 5px;
}

.pl-5 {
  padding-left: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pv-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pa-8 {
  padding: 8px;
}

.pl-8 {
  padding-left: 8px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pv-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.ph-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.pa-10 {
  padding: 10px;
}

.pl-10 {
  padding-left: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pv-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pa-12 {
  padding: 12px;
}

.pl-12 {
  padding-left: 12px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pv-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.ph-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.pa-15 {
  padding: 15px;
}

.pl-15 {
  padding-left: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pv-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pa-20 {
  padding: 20px;
}

.pl-20 {
  padding-left: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pv-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.pa-25 {
  padding: 25px;
}

.pl-25 {
  padding-left: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pv-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.ph-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.pa-30 {
  padding: 30px;
}

.pl-30 {
  padding-left: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pv-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.ph-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pa-35 {
  padding: 35px;
}

.pl-35 {
  padding-left: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pv-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.ph-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.pa-40 {
  padding: 40px;
}

.pl-40 {
  padding-left: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pv-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.ph-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.ma-0 {
  margin: 0px;
}

.ml-0 {
  margin-left: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mv-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mh-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ma-2 {
  margin: 2px;
}

.ml-2 {
  margin-left: 2px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mv-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.mh-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.ma-4 {
  margin: 4px;
}

.ml-4 {
  margin-left: 4px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mv-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.mh-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.ma-5 {
  margin: 5px;
}

.ml-5 {
  margin-left: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mv-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mh-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.ma-8 {
  margin: 8px;
}

.ml-8 {
  margin-left: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mv-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mh-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.ma-10 {
  margin: 10px;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mv-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mh-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.ma-12 {
  margin: 12px;
}

.ml-12 {
  margin-left: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mv-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.mh-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.ma-15 {
  margin: 15px;
}

.ml-15 {
  margin-left: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mv-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mh-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.ma-20 {
  margin: 20px;
}

.ml-20 {
  margin-left: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mv-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mh-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.ma-25 {
  margin: 25px;
}

.ml-25 {
  margin-left: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mv-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mh-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.ma-30 {
  margin: 30px;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mv-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mh-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.ma-35 {
  margin: 35px;
}

.ml-35 {
  margin-left: 35px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mv-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.mh-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.ma-40 {
  margin: 40px;
}

.ml-40 {
  margin-left: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mv-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mh-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

* {
  outline: none;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
  font-family: "Roboto", "PingFang TC", "NotoSans TC", "Microsoft JhengHei";
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-size: 12px;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

a:hover {
  text-decoration: none;
}

.main-txt-color {
  color: #0a8fc8;
}

.darkgray-txt-color {
  color: #666666;
}

.darkergray-txt-color {
  color: #444444;
}

.gray-txt-color {
  color: #909090;
}

.small-txt {
  font-size: 12px;
  letter-spacing: 0.17px;
  color: #909090;
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

.txt-left {
  text-align: left !important;
}

.txt-bold {
  font-weight: bold;
}

.flex-between {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pos-re {
  position: relative;
  z-index: 0;
}

.toggle-btn {
  cursor: pointer;
}

.toggle-box .toggle-arrow {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-box.active .toggle-arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.toggle-content {
  width: 100%;
}

.content {
  position: relative;
  z-index: 11;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: url("../images/bg-default@2x.png") center no-repeat;
  background-size: cover;
}

.icon {
  width: 24px;
}

.btn {
  position: relative;
}

.btn-keyboard {
  width: 40px;
  margin-right: 30px;
  margin-left: 32px;
}

.btn-speaker-head {
  width: 137px;
}

.btn-sound-off {
  margin: 0 8px 0 30px;
}

.btn-infomation {
  margin: 0 8px;
}

.scroll-area {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc((var(--vh, 1vh) * 100) - 75px);
}

.scroll-inner {
  padding: 30px 20px 40px;
}

.mic-area {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: url("../images/img-line@2x.png") center top no-repeat;
  background-size: contain;
}

.mic-area.no-border {
  background: none;
}

.mic-area .buttons-area {
  position: relative;
  z-index: 9;
  top: -42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mic-area a {
  display: inline-block;
}

.mic-area a img {
  width: 100%;
}

.mic-area a:active {
  opacity: 0.6;
}

.mic-area .mic-tip-txt {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  width: 100%;
}

.service-box {
  border: solid 1.5px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 4px;
  margin-bottom: 10px;
}

.service-box.service-talk {
  border-radius: 2px 10px 10px 10px;
}

.service-box-msg-only {
  padding: 6px 10px;
  display: inline-block;
  max-width: 100%;
}

.service-box-btn-only {
  padding: 20px;
}

.service-box-show-detail {
  padding: 2px 0;
}

.user-talk {
  width: 100%;
  border: none;
  padding: 0;
  text-align: right;
  background: transparent;
  margin-bottom: 10px;
}

.user-talk p {
  border: solid 1.5px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.65);
  display: inline-block;
  background-color: #f9f9f9;
  padding: 6px 10px;
  border-radius: 10px 2px 10px 10px;
}

.main-ti {
  color: #444444;
  padding: 12px 15px 10px;
  text-align: center;
}

.main-ti h1 {
  font-weight: bold;
}

.cancel-btn {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}

.dialog-cover {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-area {
  position: fixed;
  left: 0;
  bottom: -100%;
  z-index: 999999;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px 10px 0 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.dialog-content {
  max-height: calc(var(--vh, 1vh) * 90);
  padding-bottom: 20px;
}

.dialog-content.blur-bottom .dialog-content-inner {
  max-height: calc( calc(var(--vh, 1vh) * 90) - 52.5px - 0px - 0px);
}

.dialog-content-head {
  text-align: center;
  padding: 18px 0 12px;
  border-bottom: solid 1.5px #d2d2d2;
}

.dialog-content-head h2 {
  font-weight: bold;
}

.dialog-content-inner {
  overflow-y: auto;
  max-height: calc( calc(var(--vh, 1vh) * 90) - 52.5px - 20px - 0px);
}

.blur-bottom {
  position: relative;
  z-index: 0;
}

.blur-bottom:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 0;
  width: 100%;
  height: 37px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+100&0+0,1+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fcfcfc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fcfcfc));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fcfcfc 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fcfcfc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fcfcfc',GradientType=0 );
  /* IE6-9 */
}

.inner-scroll {
  overflow-y: auto;
  padding-bottom: 4px;
}

.success_view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #49bfee url("~/../../images/bg-complete@2x.png");
  background-size: cover;
  z-index: 9999999;
  width: 100%;
  height: 100%;
}

.success_view h3 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(118px);
      -ms-transform: translateY(118px);
          transform: translateY(118px);
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #444444;
  z-index: 1;
}

@media (min-width: 992px) {
  .success_view {
    position: fixed;
    top: 0%;
    left: 0%;
    background: none;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.41);
    z-index: 9999999;
    width: 100%;
    height: 100%;
  }
  .success_view::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 430px;
    width: 430px;
    height: 402px;
    background: #49bfee url("~/../../images/bg-complete@2x.png");
    background-size: cover;
    border-radius: 15px;
    -webkit-box-shadow: 0 -2px 18px 0 rgba(40, 9, 54, 0.15);
            box-shadow: 0 -2px 18px 0 rgba(40, 9, 54, 0.15);
  }
  .success_view h3 {
    display: block;
  }
}

.icon_success {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
      -ms-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  width: 108px;
  height: 108px;
}

@media (min-width: 992px) {
  .icon_success {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shine span {
  position: absolute;
  display: block;
  width: 5px;
  background-color: #d4f2aa;
  border-radius: 40px;
  -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
      -ms-transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
          transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
  opacity: 0;
}

.shine span:nth-child(even) {
  height: 24px;
  background-color: #99e2ff;
  -webkit-animation: ray_even 1s ease 1 1.4s both;
          animation: ray_even 1s ease 1 1.4s both;
}

.shine span:nth-child(odd) {
  height: 24px;
  -webkit-animation: ray_odd 1s ease 1 1.4s both;
          animation: ray_odd 1s ease 1 1.4s both;
}

.shine2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shine2 span {
  opacity: 0;
  position: absolute;
  display: block;
  width: 5px;
  background-color: #d4f2aa;
  border-radius: 40px;
  -webkit-transform: rotate(calc(45deg * var(--i))) translateY(120px);
      -ms-transform: rotate(calc(45deg * var(--i))) translateY(120px);
          transform: rotate(calc(45deg * var(--i))) translateY(120px);
  height: 24px;
  -webkit-animation: ray_even2 1s ease 1 1.4s both;
          animation: ray_even2 1s ease 1 1.4s both;
}

@-webkit-keyframes ray-border {
  0% {
    width: 20px;
    height: 20px;
    border: 2px solid #91d8f4;
    opacity: 0.3;
  }
  40% {
    width: 100px;
    height: 100px;
    border: 20px solid #91d8f4;
    opacity: 0.1;
  }
  100% {
    width: 120px;
    height: 120px;
    border: 2px solid #91d8f4;
    opacity: 0;
  }
}

@keyframes ray-border {
  0% {
    width: 20px;
    height: 20px;
    border: 2px solid #91d8f4;
    opacity: 0.3;
  }
  40% {
    width: 100px;
    height: 100px;
    border: 20px solid #91d8f4;
    opacity: 0.1;
  }
  100% {
    width: 120px;
    height: 120px;
    border: 2px solid #91d8f4;
    opacity: 0;
  }
}

@-webkit-keyframes ray_even {
  0% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }
  100% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
    opacity: 0;
    height: 10px;
  }
}

@keyframes ray_even {
  0% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }
  100% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
    opacity: 0;
    height: 10px;
  }
}

@-webkit-keyframes ray_odd {
  0% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }
  100% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
    opacity: 0;
    height: 10px;
  }
}

@keyframes ray_odd {
  0% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }
  100% {
    -webkit-transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
            transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
    opacity: 0;
    height: 10px;
  }
}

@-webkit-keyframes ray_even2 {
  0% {
    -webkit-transform: rotate(calc(45deg * var(--i))) translateY(120px);
            transform: rotate(calc(45deg * var(--i))) translateY(120px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }
  100% {
    -webkit-transform: rotate(calc(45deg * var(--i))) translateY(140px);
            transform: rotate(calc(45deg * var(--i))) translateY(140px);
    opacity: 0;
    height: 10px;
  }
}

@keyframes ray_even2 {
  0% {
    -webkit-transform: rotate(calc(45deg * var(--i))) translateY(120px);
            transform: rotate(calc(45deg * var(--i))) translateY(120px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }
  100% {
    -webkit-transform: rotate(calc(45deg * var(--i))) translateY(140px);
            transform: rotate(calc(45deg * var(--i))) translateY(140px);
    opacity: 0;
    height: 10px;
  }
}

.circleCover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  opacity: 0;
  stroke-dasharray: 340;
  stroke-linecap: round;
  stroke-dashoffset: 680;
  -webkit-animation: circle 1s ease-in-out;
          animation: circle 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circle2 {
  opacity: 0;
  stroke-dasharray: 340;
  stroke-linecap: round;
  stroke-dashoffset: 680;
  -webkit-animation: circle2 1s ease-in-out 0.2s;
          animation: circle2 1s ease-in-out 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.tick {
  stroke-dasharray: 340;
  stroke-dashoffset: 340;
  -webkit-animation: tickAni 1s ease-in-out 1s;
          animation: tickAni 1s ease-in-out 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes circle {
  0% {
    stroke-dashoffset: 340;
  }
  99% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 680;
  }
}

@keyframes circle {
  0% {
    stroke-dashoffset: 340;
  }
  99% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 680;
  }
}

@-webkit-keyframes circle2 {
  0% {
    stroke-dashoffset: 340;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 680;
  }
}

@keyframes circle2 {
  0% {
    stroke-dashoffset: 340;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 680;
  }
}

@-webkit-keyframes tickAni {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes tickAni {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.forIE {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -51%);
      -ms-transform: translate(-50%, -51%);
          transform: translate(-50%, -51%);
  max-width: 300px;
  width: 100%;
  z-index: 0;
}

.forIE img {
  width: 100%;
}

.micro-robot {
  width: 137px;
  height: 95px;
  background-size: 100%;
}

.bg-blue {
  background-color: #0a8fc8;
}

.bg-lightblue {
  background-color: #49bfee;
}

.bg-blue-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#12a0de+0,24e783+100 */
  background: #12a0de;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #12a0de 0%, #24e783 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #12a0de 0%, #24e783 100%);
  background: -o-linear-gradient(315deg, #12a0de 0%, #24e783 100%);
  background: linear-gradient(135deg, #12a0de 0%, #24e783 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a0de', endColorstr='#24e783',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.bg-darkorange {
  background-color: #d84815;
}

.bg-orange {
  background-color: #fa7c42;
}

.bg-lightorange {
  background-color: #ffb391;
}

.bg-black {
  background-color: #333333;
}

.bg-darkergray {
  background-color: #444444;
}

.bg-darkgray {
  background-color: #666666;
}

.bg-gray {
  background-color: #909090;
}

.bg-lightgray {
  background-color: #d2d2d2;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  background-color: #333333;
}

.text-darkergray {
  background-color: #444444;
}

.text-darkgray {
  background-color: #666666;
}

.text-gray {
  background-color: #909090;
}

.text-lightgray {
  background-color: #d2d2d2;
}

.text-white {
  background-color: #ffffff;
}

h1,
.h1 {
  font-size: 20px;
  margin: 0;
}

h2,
.h2 {
  font-size: 18px;
  margin: 0;
}

h3,
.h3 {
  font-size: 16px;
  margin: 0;
}

h4,
.h4 {
  font-size: 14px;
  margin: 0;
}

p {
  font-size: 14px;
  color: #444444;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

.icon {
  display: inline-block;
}

button {
  color: inherit;
  border: none;
  outline: none;
}

button:focus,
.btn.focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* bootstrap: btn -------------------- */
.btn {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 10px 20px;
  border-radius: 2px;
  border: solid 1px #0a8fc8;
  background-color: #0a8fc8;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.btn:focus, .btn.focus, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:disabled, .btn.disabled {
  cursor: not-allowed;
  opacity: 1;
}

.btn:active {
  border: solid 1px #49bfee;
  background-color: #49bfee;
  color: #ffffff;
}

.btn:hover {
  color: #ffffff;
}

.btn.secondary {
  border: solid 1px #0a8fc8;
  background-color: #ffffff;
  color: #0a8fc8;
}

.btn.secondary:active {
  background-color: rgba(73, 191, 238, 0.3);
}

@media (min-width: 320px) {
  .btn {
    padding: 10px 14px;
  }
}

.md-btn {
  position: absolute;
  bottom: 18px;
  left: 50%;
  z-index: 5;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  display: inline-block;
  border-radius: 20px;
  border: solid 1px #0a8fc8;
  background-color: #ffffff;
  width: auto;
  padding: 7px 20px;
  font-size: 0;
}

.md-btn p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: #0a8fc8;
}

.md-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.md-btn:active {
  background-color: rgba(73, 191, 238, 0.3);
}

input,
input.form-control {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  padding: 9px 16px;
  color: #444444;
  background-color: white;
  -webkit-appearance: none;
}

input:hover, input:focus,
input.form-control:hover,
input.form-control:focus {
  background-color: white;
}

input:focus,
input.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

input::-webkit-input-placeholder,
input.form-control::-webkit-input-placeholder {
  color: #909090;
}

input:-ms-input-placeholder,
input.form-control:-ms-input-placeholder {
  color: #909090;
}

input::-ms-input-placeholder,
input.form-control::-ms-input-placeholder {
  color: #909090;
}

input::placeholder,
input.form-control::placeholder {
  color: #909090;
}

input.error,
input.form-control.error {
  border: 1px solid #d84815;
}

input:disabled, input.disabled,
input.form-control:disabled,
input.form-control.disabled {
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  color: #909090;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  z-index: 0;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
  border: solid 1px #0a8fc8;
  min-width: 24px;
  margin: 0;
  padding: 0;
  opacity: 1;
  cursor: pointer;
  border-radius: 2.5px;
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"]:disabled + label, input[type="checkbox"][disabled] + label, input[type="checkbox"].disabled + label,
input[type="radio"]:disabled + label,
input[type="radio"][disabled] + label,
input[type="radio"].disabled + label {
  color: #444444;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: none;
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -1px;
  width: 24px;
  height: 24px;
  background: url("~/../../images/checkbox-hook.svg") center no-repeat;
  background-size: cover;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  margin: 0;
  font-size: 14px;
}

input[type="checkbox"]:checked {
  background-color: #0a8fc8;
}

input[type="checkbox"]:checked::before {
  content: "";
}

input[type="checkbox"][disabled] + label::before, input[type="checkbox"].disabled + label::before {
  background-image: url(../images/sprite.png);
  background-position: -262px -106px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"][disabled] + label::before, input[type="checkbox"].disabled + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 292px 284px;
  }
}

input[type="checkbox"][disabled]:checked + label::before, input[type="checkbox"].disabled:checked + label::before {
  background-image: url(../images/sprite.png);
  background-position: -262px -81px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"][disabled]:checked + label::before, input[type="checkbox"].disabled:checked + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 292px 284px;
  }
}

textarea,
textarea.form-control {
  -webkit-appearance: none;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  padding: 9px 16px;
  color: #444444;
  background-color: white;
  width: 100%;
  max-width: none;
}

textarea:hover, textarea:focus,
textarea.form-control:hover,
textarea.form-control:focus {
  background-color: white;
}

textarea:focus,
textarea.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  color: #909090;
}

textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
  color: #909090;
}

textarea::-ms-input-placeholder,
textarea.form-control::-ms-input-placeholder {
  color: #909090;
}

textarea::placeholder,
textarea.form-control::placeholder {
  color: #909090;
}

textarea.error,
textarea.form-control.error {
  border: 1px solid #d84815;
}

textarea:disabled, textarea.disabled,
textarea.form-control:disabled,
textarea.form-control.disabled {
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  color: #909090;
}

select,
.form-select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  padding: 9px 16px;
  color: #444444;
  background-color: white;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

select:hover, select:focus,
.form-select:hover,
.form-select:focus {
  background-color: white;
}

select:focus,
.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

select::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: #909090;
}

select:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: #909090;
}

select::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: #909090;
}

select::placeholder,
.form-select::placeholder {
  color: #909090;
}

select.error,
.form-select.error {
  border: 1px solid #d84815;
}

select:disabled, select.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  color: #909090;
}

select:disabled,
.form-select:disabled {
  color: #909090;
}

.welcome-tip-cover {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.6);
}

.welcome-tip-cover .tip-bubble {
  position: absolute;
  z-index: 0;
  top: -168px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 295px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  padding: 24px 0 20px;
  margin: 0 auto;
  text-align: center;
}

.welcome-tip-cover .tip-bubble:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 33px;
  height: 31px;
  bottom: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("~/../../images/dialog-triangle.svg") center no-repeat;
  background-size: contain;
}

.welcome-tip-cover .tip-bubble h2 {
  color: #0a8fc8;
}

.welcome-tip-cover .tip-bubble p {
  font-size: 14px;
  color: #444444;
}

.white-border {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.service-content {
  padding: 15px;
}

.service-lists {
  padding: 0;
}

.service-lists.txt-left li a {
  text-align: left;
}

.service-lists.txt-left li a .service-btn-txt {
  text-align: left;
}

.service-lists li {
  width: 100%;
}

.service-lists li + li {
  margin-top: 16px;
}

.service-lists li a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #0a8fc8;
  padding: 7px 20px;
  border-radius: 2px;
  border: solid 1px rgba(255, 255, 255, 0.55);
  background-color: rgba(255, 255, 255, 0.35);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.service-lists li a:active, .service-lists li a:hover {
  background-color: rgba(73, 191, 238, 0.3);
}

.service-lists li a .service-btn-txt {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #0a8fc8;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.service-lists.flex-center li + li {
  margin-top: 0px;
  margin-left: 10px;
}

.more-box {
  text-decoration: none;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-box p {
  color: #666666;
  padding-left: 8px;
  margin: 0;
}

.txt-lists {
  padding: 0 15px;
}

.txt-lists.flex-style li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt-lists.list-scroll {
  overflow-y: auto;
  max-height: 388px;
}

.txt-lists.dialog-txt-lists li {
  padding: 4px 0;
}

.txt-lists.dialog-txt-lists li + li {
  border-top: none;
}

.txt-lists.dialog-txt-lists li:last-of-type {
  padding: 4px 0 0 0;
}

.txt-lists li {
  padding: 10px 0;
}

.txt-lists li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.selection-box {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-box.disabled .select-box {
  border: solid 1.5px #d2d2d2;
  background-color: #d2d2d2;
  color: #909090;
}

.selection-box.disabled .select-box:after {
  content: none;
}

.selection-box .card-img {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 15px;
  width: 50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.selection-box .select-box {
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 10px;
  border: solid 1.5px #d2d2d2;
  background-color: #ffffff;
  padding: 8px 12px;
  color: #909090;
  font-size: 16px;
}

.selection-box .select-box span {
  color: #909090;
}

.selection-box .select-box.active-color {
  color: #444444;
}

.selection-box .select-box::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 6px;
  width: 24px;
  height: 24px;
  background: url("~/../../images/ic-under-blue.svg") center no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.selection-box .select-box.on:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.selection-box .select-box.img-style {
  border: none;
  background-color: #f9f9f9;
  padding: 8px 12px 8px 60px;
}

.selection-box .select-box.img-style::after {
  right: 0;
}

.selection-box .select-options {
  display: none;
  position: absolute;
  z-index: 1;
  top: 38px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  border: solid 1.5px #d2d2d2;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0;
}

.selection-box .select-options.short-width {
  max-width: calc(100% - 30px);
  left: 15px;
  top: 44px;
}

.selection-box .select-options li {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #444444;
  padding: 9px 12px;
}

.selection-box .select-options li span {
  color: #909090;
}

.selection-box .select-options li.selected {
  background-color: #0a8fc8;
  color: #ffffff;
}

.selection-box .select-options li.selected span {
  color: #ffffff;
}

.data-count-box {
  text-align: right;
  width: 100%;
  padding: 4px 15px;
  border-top: solid 1px #d2d2d2;
  color: #666666;
}

.data-count-box.flex-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-top: solid 1px #d2d2d2;
  border-bottom: solid 1px #d2d2d2;
  background-color: #e1f3fd;
}

.data-count-box.flex-style span {
  margin: 0 0 0 10px;
}

.select-Height-control {
  max-height: calc( calc(var(--vh, 1vh) * 90) - 52.5px - 20px - 94px);
  margin-top: 6px;
  padding: 10px 0;
}

.infomation-box + .infomation-box {
  margin-top: 16px;
}

.infomation-box > ul {
  padding: 6px 0 0 0;
}

.infomation-box > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4px 15px;
  border-bottom: dashed 1.5px #d2d2d2;
}

.infomation-box .trade-detail-lists {
  padding-left: 40px;
  padding-right: 30px;
}

.infomation-box .trade-detail-lists li {
  border-bottom: none;
  padding: 4px 0;
}

.infomation-box .trade-detail-lists li p {
  color: #909090;
}

.infomation-box .info-left {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infomation-box .info-right {
  max-width: 40%;
  text-align: right;
}

.infomation-box .info-date-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0a8fc8;
  text-align: center;
}

.infomation-box .info-date-box p {
  line-height: 30px;
  color: #ffffff;
}

.infomation-box .info-price-box {
  display: inline-block;
  vertical-align: middle;
}

.time-search-box {
  border-bottom: solid 1px #d2d2d2;
  background-color: #e1f3fd;
  padding: 6px 15px;
}

.time-search-box ul {
  padding: 0;
}

.time-search-box ul li {
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-search-Height-control {
  max-height: calc( calc(var(--vh, 1vh) * 90) - 52.5px - 20px - 110px);
  margin-top: 10px;
  padding: 10px 0;
}

.show-date {
  position: relative;
  z-index: 0;
}

.ic-day {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  right: 12px;
}

.exsample-info {
  position: absolute;
  right: 0;
  top: -2px;
}

.exsample-info span {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */