* {
  outline: none;
  -webkit-overflow-scrolling: touch;
}
html,
body {
  height: 100%;
  font-family: $font-family;
  color: $black;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-size: 12px;
}
.wrapper {
  min-height: 100%;
  position: relative;
  // 以上勿動
}
a {
  &:hover {
    text-decoration: none;
  }
}

// 變數區
$path: "~/../../images/";
// $innerHeight: 90vh;
$innerHeight: calc(var(--vh, 1vh) * 90);
$headHeight: 52.5px;
// $bottomPadding: 20px;
@mixin serviceBoxSyle {
  border: solid 1.5px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.65);
}
@mixin maxHeightCount($minus: 0px, $bottomPadding: 20px) {
  max-height: calc(
    #{$innerHeight} - #{$headHeight} - #{$bottomPadding} - #{$minus}
  );
}
.main-txt-color {
  color: $blue-500;
}
.darkgray-txt-color {
  color: $gray-700;
}
.darkergray-txt-color {
  color: $gray-800;
}
.gray-txt-color {
  color: $gray-500;
}
.small-txt {
  font-size: 12px;
  letter-spacing: 0.17px;
  color: #909090;
}
.txt-center {
  text-align: center !important;
}
.txt-right {
  text-align: right !important;
}
.txt-left {
  text-align: left !important;
}
.txt-bold {
  font-weight: bold;
}
.flex-between {
  width: 100%;
  @include flex(space-between, center);
}
.flex-center {
  width: 100%;
  @include flex(center, center);
}
.flex-start {
  width: 100%;
  @include flex(flex-start, center);
}
.pos-re {
  position: relative;
  z-index: 0;
}
.toggle-btn {
  cursor: pointer;
}
.toggle-box {
  .toggle-arrow {
    transition: all 0.3s;
  }
  &.active {
    .toggle-arrow {
      transform: rotate(-180deg);
    }
  }
}
.toggle-content {
  width: 100%;
}
// <main>
.content {
  position: relative;
  z-index: 11;
  width: 100%;
  // height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background: url("../images/bg-default@2x.png") center no-repeat;
  background-size: cover;
  // padding-bottom: 240px; // 等於 footer 高
  // &-inner {
  //   justify-content: center;
  //   padding: 10px 35px;
  //   @include media-breakpoint-down("lg") {
  //   }

  //   @include media-breakpoint-down("md") {
  // }
}
.icon {
  width: 24px;
}
.btn {
  position: relative;
  &-keyboard {
    width: 40px;
    margin-right: 30px;
    margin-left: 32px;
  }
  &-speaker-head {
    width: 137px;
  }
  &-sound-off {
    margin: 0 8px 0 30px;
  }
  &-infomation {
    margin: 0 8px;
  }
}

//內容限制高
.scroll-area {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  // height: calc(100vh - 75px);
  height: calc((var(--vh, 1vh) * 100) - 75px);
}
//內容滾動區
.scroll-inner {
  padding: 30px 20px 40px;
}
//麥克風區塊
.mic-area {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: url("../images/img-line@2x.png") center top no-repeat;
  background-size: contain;
  &.no-border {
    background: none;
  }
  .buttons-area {
    position: relative;
    z-index: 9;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    @include flex(center, flex-end);
    flex-wrap: wrap;
  }
  a {
    display: inline-block;
    img {
      width: 100%;
    }
    &:active {
      opacity: 0.6;
    }
  }
  .mic-tip-txt {
    // display: none;
    color: $white;
    text-align: center;
    font-size: 12px;
    width: 100%;
  }
}
//對話白框背景區塊
.service-box {
  //有標題使用
  @include serviceBoxSyle;
  border-radius: 4px;
  margin-bottom: 10px;

  //系統對話框樣式
  &.service-talk {
    border-radius: 2px 10px 10px 10px;
  }
  //純文字使用
  &-msg-only {
    padding: 6px 10px;
    display: inline-block;
    max-width: 100%;
  }
  //純按鈕使用
  &-btn-only {
    padding: 20px;
  }
  //展示內容使用
  &-show-detail {
    padding: 2px 0;
  }
}
//客戶對話框樣式
.user-talk {
  width: 100%;
  border: none;
  padding: 0;
  text-align: right;
  background: transparent;
  margin-bottom: 10px;
  p {
    @include serviceBoxSyle;
    display: inline-block;
    background-color: #f9f9f9;
    padding: 6px 10px;
    border-radius: 10px 2px 10px 10px;
  }
}
.main-ti {
  color: $gray-800;
  padding: 12px 15px 10px;
  text-align: center;
  h1 {
    font-weight: bold;
  }
}
//========================== 彈窗樣式
.cancel-btn {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}
.dialog-cover {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba($color: #000000, $alpha: 0.4);
}
.dialog-area {
  position: fixed;
  left: 0;
  bottom: -100%;
  // bottom: 0;
  z-index: 999999;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px 10px 0 0;
  transition: all 0.2s;
}
.dialog-content {
  max-height: $innerHeight;
  // padding-bottom: 40px;
  padding-bottom: 20px;
  // padding-bottom: 0px;
  &.blur-bottom {
    .dialog-content-inner {
      @include maxHeightCount(0px, 0px);
    }
  }
}
.dialog-content-head {
  text-align: center;
  padding: 18px 0 12px;
  border-bottom: solid 1.5px #d2d2d2;
  h2 {
    font-weight: bold;
  }
}
.dialog-content-inner {
  overflow-y: auto;
  @include maxHeightCount();
}

.blur-bottom {
  position: relative;
  z-index: 0;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 0;
    width: 100%;
    height: 37px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+100&0+0,1+100 */
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(252, 252, 252, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(252, 252, 252, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(252, 252, 252, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
  }
}
.inner-scroll {
  overflow-y: auto;
  padding-bottom: 4px;
}
//========================== 成功畫面
.success_view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #49bfee url($path + "bg-complete@2x.png");
  background-size: cover;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  h3 {
    position: absolute;
    top: 50%;
    // left: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(118px);
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
    color: $gray-800;
    z-index: 1;
  }
  @include media-breakpoint-up("lg") {
    position: fixed;
    top: 0%;
    left: 0%;
    background: none;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.41);
    z-index: 9999999;
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 430px;
      width: 430px;
      height: 402px;
      background: #49bfee url($path + "bg-complete@2x.png");
      background-size: cover;
      border-radius: 15px;
      box-shadow: 0 -2px 18px 0 rgba(40, 9, 54, 0.15);
    }
    h3 {
      display: block;
    }
  }
}
.icon_success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 108px;
  height: 108px;
  @include media-breakpoint-up("lg") {
    transform: translate(-50%, -50%);
  }
}
.shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    display: block;
    width: 5px;
    background-color: #d4f2aa;
    border-radius: 40px;
    transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
    opacity: 0;
    &:nth-child(even) {
      height: 24px;
      background-color: #99e2ff;
      animation: ray_even 1s ease 1 1.4s both;
    }
    &:nth-child(odd) {
      height: 24px;
      animation: ray_odd 1s ease 1 1.4s both;
    }
  }
}
.shine2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    opacity: 0;
    position: absolute;
    display: block;
    width: 5px;
    background-color: #d4f2aa;
    border-radius: 40px;
    transform: rotate(calc(45deg * var(--i))) translateY(120px);
    height: 24px;
    animation: ray_even2 1s ease 1 1.4s both;
  }
}
@keyframes ray-border {
  0% {
    width: 20px;
    height: 20px;
    border: 2px solid #91d8f4;
    opacity: 0.3;
  }
  40% {
    width: 100px;
    height: 100px;
    border: 20px solid #91d8f4;
    opacity: 0.1;
  }
  100% {
    width: 120px;
    height: 120px;
    border: 2px solid #91d8f4;
    opacity: 0;
  }
}
@keyframes ray_even {
  // 先旋轉 Y軸偏移
  0% {
    transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }

  100% {
    transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
    opacity: 0; //變透明
    height: 10px; //變小
  }
}
@keyframes ray_odd {
  0% {
    transform: rotate(calc(22.5deg * var(--i))) translateY(80px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }

  100% {
    transform: rotate(calc(22.5deg * var(--i))) translateY(100px);
    opacity: 0;
    height: 10px;
  }
}
@keyframes ray_even2 {
  // 先旋轉 Y軸偏移
  0% {
    transform: rotate(calc(45deg * var(--i))) translateY(120px);
  }
  60% {
    opacity: 0.8;
    height: 24px;
  }

  100% {
    transform: rotate(calc(45deg * var(--i))) translateY(140px);
    opacity: 0; //變透明
    height: 10px; //變小
  }
}
.circleCover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  opacity: 0;
  stroke-dasharray: 340; //23 * 2 * 3.14  #155C1E
  stroke-linecap: round;
  stroke-dashoffset: 680; //144-288
  animation: circle 1s ease-in-out;
  animation-fill-mode: forwards;
}
.circle2 {
  opacity: 0; //5dce84 //b0e7c3
  stroke-dasharray: 340; //23 * 2 * 3.14
  stroke-linecap: round;
  stroke-dashoffset: 680; //144-288
  animation: circle2 1s ease-in-out 0.2s;
  animation-fill-mode: forwards;
}
.tick {
  stroke-dasharray: 340;
  stroke-dashoffset: 340; //144-0
  animation: tickAni 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}
@keyframes circle {
  0% {
    stroke-dashoffset: 340;
  }
  99% {
    opacity: 1;
  }
  100% {
    // opacity: 0;
    stroke-dashoffset: 680;
  }
}
@keyframes circle2 {
  0% {
    stroke-dashoffset: 340;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 680;
  }
}
@keyframes tickAni {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.forIE {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  max-width: 300px;
  width: 100%;
  z-index: 0;
  img {
    width: 100%;
  }
}

//========================== pure index btn-speaker-head
.micro-robot {
  width: 137px;
  height: 95px;
  // background-image: url($path + "micro-volume-00@2x.png");
  background-size: 100%;
}
