// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 262px;
$checkbox-checked-y: 31px;
$checkbox-checked-offset-x: -262px;
$checkbox-checked-offset-y: -31px;
$checkbox-checked-width: 24px;
$checkbox-checked-height: 24px;
$checkbox-checked-total-width: 292px;
$checkbox-checked-total-height: 284px;
$checkbox-checked-image: '../images/sprite.png';
$checkbox-checked: (262px, 31px, -262px, -31px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'checkbox-checked', );
$checkbox-default-name: 'checkbox-default';
$checkbox-default-x: 262px;
$checkbox-default-y: 56px;
$checkbox-default-offset-x: -262px;
$checkbox-default-offset-y: -56px;
$checkbox-default-width: 24px;
$checkbox-default-height: 24px;
$checkbox-default-total-width: 292px;
$checkbox-default-total-height: 284px;
$checkbox-default-image: '../images/sprite.png';
$checkbox-default: (262px, 56px, -262px, -56px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'checkbox-default', );
$checkbox-disabled-checked-name: 'checkbox-disabled-checked';
$checkbox-disabled-checked-x: 262px;
$checkbox-disabled-checked-y: 81px;
$checkbox-disabled-checked-offset-x: -262px;
$checkbox-disabled-checked-offset-y: -81px;
$checkbox-disabled-checked-width: 24px;
$checkbox-disabled-checked-height: 24px;
$checkbox-disabled-checked-total-width: 292px;
$checkbox-disabled-checked-total-height: 284px;
$checkbox-disabled-checked-image: '../images/sprite.png';
$checkbox-disabled-checked: (262px, 81px, -262px, -81px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'checkbox-disabled-checked', );
$checkbox-disabled-name: 'checkbox-disabled';
$checkbox-disabled-x: 262px;
$checkbox-disabled-y: 106px;
$checkbox-disabled-offset-x: -262px;
$checkbox-disabled-offset-y: -106px;
$checkbox-disabled-width: 24px;
$checkbox-disabled-height: 24px;
$checkbox-disabled-total-width: 292px;
$checkbox-disabled-total-height: 284px;
$checkbox-disabled-image: '../images/sprite.png';
$checkbox-disabled: (262px, 106px, -262px, -106px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'checkbox-disabled', );
$checkbox-error-checked-name: 'checkbox-error-checked';
$checkbox-error-checked-x: 262px;
$checkbox-error-checked-y: 131px;
$checkbox-error-checked-offset-x: -262px;
$checkbox-error-checked-offset-y: -131px;
$checkbox-error-checked-width: 24px;
$checkbox-error-checked-height: 24px;
$checkbox-error-checked-total-width: 292px;
$checkbox-error-checked-total-height: 284px;
$checkbox-error-checked-image: '../images/sprite.png';
$checkbox-error-checked: (262px, 131px, -262px, -131px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'checkbox-error-checked', );
$checkbox-error-name: 'checkbox-error';
$checkbox-error-x: 262px;
$checkbox-error-y: 156px;
$checkbox-error-offset-x: -262px;
$checkbox-error-offset-y: -156px;
$checkbox-error-width: 24px;
$checkbox-error-height: 24px;
$checkbox-error-total-width: 292px;
$checkbox-error-total-height: 284px;
$checkbox-error-image: '../images/sprite.png';
$checkbox-error: (262px, 156px, -262px, -156px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'checkbox-error', );
$checkbox-hover-name: 'checkbox-hover';
$checkbox-hover-x: 262px;
$checkbox-hover-y: 181px;
$checkbox-hover-offset-x: -262px;
$checkbox-hover-offset-y: -181px;
$checkbox-hover-width: 24px;
$checkbox-hover-height: 24px;
$checkbox-hover-total-width: 292px;
$checkbox-hover-total-height: 284px;
$checkbox-hover-image: '../images/sprite.png';
$checkbox-hover: (262px, 181px, -262px, -181px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'checkbox-hover', );
$ic-account-s-name: 'ic-account-s';
$ic-account-s-x: 82px;
$ic-account-s-y: 186px;
$ic-account-s-offset-x: -82px;
$ic-account-s-offset-y: -186px;
$ic-account-s-width: 32px;
$ic-account-s-height: 32px;
$ic-account-s-total-width: 292px;
$ic-account-s-total-height: 284px;
$ic-account-s-image: '../images/sprite.png';
$ic-account-s: (82px, 186px, -82px, -186px, 32px, 32px, 292px, 284px, '../images/sprite.png', 'ic-account-s', );
$ic-account-name: 'ic-account';
$ic-account-x: 51px;
$ic-account-y: 135px;
$ic-account-offset-x: -51px;
$ic-account-offset-y: -135px;
$ic-account-width: 40px;
$ic-account-height: 40px;
$ic-account-total-width: 292px;
$ic-account-total-height: 284px;
$ic-account-image: '../images/sprite.png';
$ic-account: (51px, 135px, -51px, -135px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'ic-account', );
$ic-dropdown-default-name: 'ic-dropdown-default';
$ic-dropdown-default-x: 221px;
$ic-dropdown-default-y: 164px;
$ic-dropdown-default-offset-x: -221px;
$ic-dropdown-default-offset-y: -164px;
$ic-dropdown-default-width: 20px;
$ic-dropdown-default-height: 20px;
$ic-dropdown-default-total-width: 292px;
$ic-dropdown-default-total-height: 284px;
$ic-dropdown-default-image: '../images/sprite.png';
$ic-dropdown-default: (221px, 164px, -221px, -164px, 20px, 20px, 292px, 284px, '../images/sprite.png', 'ic-dropdown-default', );
$ic-dropdown-down-white-name: 'ic-dropdown-down-white';
$ic-dropdown-down-white-x: 165px;
$ic-dropdown-down-white-y: 113px;
$ic-dropdown-down-white-offset-x: -165px;
$ic-dropdown-down-white-offset-y: -113px;
$ic-dropdown-down-white-width: 20px;
$ic-dropdown-down-white-height: 20px;
$ic-dropdown-down-white-total-width: 292px;
$ic-dropdown-down-white-total-height: 284px;
$ic-dropdown-down-white-image: '../images/sprite.png';
$ic-dropdown-down-white: (165px, 113px, -165px, -113px, 20px, 20px, 292px, 284px, '../images/sprite.png', 'ic-dropdown-down-white', );
$ic-form-asc-name: 'ic-form-asc';
$ic-form-asc-x: 242px;
$ic-form-asc-y: 164px;
$ic-form-asc-offset-x: -242px;
$ic-form-asc-offset-y: -164px;
$ic-form-asc-width: 14px;
$ic-form-asc-height: 14px;
$ic-form-asc-total-width: 292px;
$ic-form-asc-total-height: 284px;
$ic-form-asc-image: '../images/sprite.png';
$ic-form-asc: (242px, 164px, -242px, -164px, 14px, 14px, 292px, 284px, '../images/sprite.png', 'ic-form-asc', );
$ic-form-both-name: 'ic-form-both';
$ic-form-both-x: 247px;
$ic-form-both-y: 186px;
$ic-form-both-offset-x: -247px;
$ic-form-both-offset-y: -186px;
$ic-form-both-width: 14px;
$ic-form-both-height: 14px;
$ic-form-both-total-width: 292px;
$ic-form-both-total-height: 284px;
$ic-form-both-image: '../images/sprite.png';
$ic-form-both: (247px, 186px, -247px, -186px, 14px, 14px, 292px, 284px, '../images/sprite.png', 'ic-form-both', );
$ic-form-desc-name: 'ic-form-desc';
$ic-form-desc-x: 247px;
$ic-form-desc-y: 201px;
$ic-form-desc-offset-x: -247px;
$ic-form-desc-offset-y: -201px;
$ic-form-desc-width: 14px;
$ic-form-desc-height: 14px;
$ic-form-desc-total-width: 292px;
$ic-form-desc-total-height: 284px;
$ic-form-desc-image: '../images/sprite.png';
$ic-form-desc: (247px, 201px, -247px, -201px, 14px, 14px, 292px, 284px, '../images/sprite.png', 'ic-form-desc', );
$ic-hamburger-s-name: 'ic-hamburger-s';
$ic-hamburger-s-x: 115px;
$ic-hamburger-s-y: 186px;
$ic-hamburger-s-offset-x: -115px;
$ic-hamburger-s-offset-y: -186px;
$ic-hamburger-s-width: 32px;
$ic-hamburger-s-height: 32px;
$ic-hamburger-s-total-width: 292px;
$ic-hamburger-s-total-height: 284px;
$ic-hamburger-s-image: '../images/sprite.png';
$ic-hamburger-s: (115px, 186px, -115px, -186px, 32px, 32px, 292px, 284px, '../images/sprite.png', 'ic-hamburger-s', );
$ic-hamburger-name: 'ic-hamburger';
$ic-hamburger-x: 92px;
$ic-hamburger-y: 135px;
$ic-hamburger-offset-x: -92px;
$ic-hamburger-offset-y: -135px;
$ic-hamburger-width: 40px;
$ic-hamburger-height: 40px;
$ic-hamburger-total-width: 292px;
$ic-hamburger-total-height: 284px;
$ic-hamburger-image: '../images/sprite.png';
$ic-hamburger: (92px, 135px, -92px, -135px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'ic-hamburger', );
$ic-landmark-s-name: 'ic-landmark-s';
$ic-landmark-s-x: 207px;
$ic-landmark-s-y: 113px;
$ic-landmark-s-offset-x: -207px;
$ic-landmark-s-offset-y: -113px;
$ic-landmark-s-width: 12px;
$ic-landmark-s-height: 12px;
$ic-landmark-s-total-width: 292px;
$ic-landmark-s-total-height: 284px;
$ic-landmark-s-image: '../images/sprite.png';
$ic-landmark-s: (207px, 113px, -207px, -113px, 12px, 12px, 292px, 284px, '../images/sprite.png', 'ic-landmark-s', );
$ic-landmark-name: 'ic-landmark';
$ic-landmark-x: 209px;
$ic-landmark-y: 260px;
$ic-landmark-offset-x: -209px;
$ic-landmark-offset-y: -260px;
$ic-landmark-width: 14px;
$ic-landmark-height: 14px;
$ic-landmark-total-width: 292px;
$ic-landmark-total-height: 284px;
$ic-landmark-image: '../images/sprite.png';
$ic-landmark: (209px, 260px, -209px, -260px, 14px, 14px, 292px, 284px, '../images/sprite.png', 'ic-landmark', );
$ic-next-gray-name: 'ic-next-gray';
$ic-next-gray-x: 186px;
$ic-next-gray-y: 113px;
$ic-next-gray-offset-x: -186px;
$ic-next-gray-offset-y: -113px;
$ic-next-gray-width: 20px;
$ic-next-gray-height: 20px;
$ic-next-gray-total-width: 292px;
$ic-next-gray-total-height: 284px;
$ic-next-gray-image: '../images/sprite.png';
$ic-next-gray: (186px, 113px, -186px, -113px, 20px, 20px, 292px, 284px, '../images/sprite.png', 'ic-next-gray', );
$ic-notice-circle-s-name: 'ic-notice-circle-s';
$ic-notice-circle-s-x: 148px;
$ic-notice-circle-s-y: 186px;
$ic-notice-circle-s-offset-x: -148px;
$ic-notice-circle-s-offset-y: -186px;
$ic-notice-circle-s-width: 32px;
$ic-notice-circle-s-height: 32px;
$ic-notice-circle-s-total-width: 292px;
$ic-notice-circle-s-total-height: 284px;
$ic-notice-circle-s-image: '../images/sprite.png';
$ic-notice-circle-s: (148px, 186px, -148px, -186px, 32px, 32px, 292px, 284px, '../images/sprite.png', 'ic-notice-circle-s', );
$ic-notice-circle-name: 'ic-notice-circle';
$ic-notice-circle-x: 133px;
$ic-notice-circle-y: 135px;
$ic-notice-circle-offset-x: -133px;
$ic-notice-circle-offset-y: -135px;
$ic-notice-circle-width: 40px;
$ic-notice-circle-height: 40px;
$ic-notice-circle-total-width: 292px;
$ic-notice-circle-total-height: 284px;
$ic-notice-circle-image: '../images/sprite.png';
$ic-notice-circle: (133px, 135px, -133px, -135px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'ic-notice-circle', );
$ic-notice-s-name: 'ic-notice-s';
$ic-notice-s-x: 181px;
$ic-notice-s-y: 186px;
$ic-notice-s-offset-x: -181px;
$ic-notice-s-offset-y: -186px;
$ic-notice-s-width: 32px;
$ic-notice-s-height: 32px;
$ic-notice-s-total-width: 292px;
$ic-notice-s-total-height: 284px;
$ic-notice-s-image: '../images/sprite.png';
$ic-notice-s: (181px, 186px, -181px, -186px, 32px, 32px, 292px, 284px, '../images/sprite.png', 'ic-notice-s', );
$ic-notice-name: 'ic-notice';
$ic-notice-x: 174px;
$ic-notice-y: 135px;
$ic-notice-offset-x: -174px;
$ic-notice-offset-y: -135px;
$ic-notice-width: 40px;
$ic-notice-height: 40px;
$ic-notice-total-width: 292px;
$ic-notice-total-height: 284px;
$ic-notice-image: '../images/sprite.png';
$ic-notice: (174px, 135px, -174px, -135px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'ic-notice', );
$ic-prev-gray-hover-name: 'ic-prev-gray-hover';
$ic-prev-gray-hover-x: 125px;
$ic-prev-gray-hover-y: 260px;
$ic-prev-gray-hover-offset-x: -125px;
$ic-prev-gray-hover-offset-y: -260px;
$ic-prev-gray-hover-width: 20px;
$ic-prev-gray-hover-height: 20px;
$ic-prev-gray-hover-total-width: 292px;
$ic-prev-gray-hover-total-height: 284px;
$ic-prev-gray-hover-image: '../images/sprite.png';
$ic-prev-gray-hover: (125px, 260px, -125px, -260px, 20px, 20px, 292px, 284px, '../images/sprite.png', 'ic-prev-gray-hover', );
$ic-prev-gray-name: 'ic-prev-gray';
$ic-prev-gray-x: 146px;
$ic-prev-gray-y: 260px;
$ic-prev-gray-offset-x: -146px;
$ic-prev-gray-offset-y: -260px;
$ic-prev-gray-width: 20px;
$ic-prev-gray-height: 20px;
$ic-prev-gray-total-width: 292px;
$ic-prev-gray-total-height: 284px;
$ic-prev-gray-image: '../images/sprite.png';
$ic-prev-gray: (146px, 260px, -146px, -260px, 20px, 20px, 292px, 284px, '../images/sprite.png', 'ic-prev-gray', );
$ic-search-purple-name: 'ic-search-purple';
$ic-search-purple-x: 167px;
$ic-search-purple-y: 260px;
$ic-search-purple-offset-x: -167px;
$ic-search-purple-offset-y: -260px;
$ic-search-purple-width: 20px;
$ic-search-purple-height: 20px;
$ic-search-purple-total-width: 292px;
$ic-search-purple-total-height: 284px;
$ic-search-purple-image: '../images/sprite.png';
$ic-search-purple: (167px, 260px, -167px, -260px, 20px, 20px, 292px, 284px, '../images/sprite.png', 'ic-search-purple', );
$ic-search-s-name: 'ic-search-s';
$ic-search-s-x: 214px;
$ic-search-s-y: 186px;
$ic-search-s-offset-x: -214px;
$ic-search-s-offset-y: -186px;
$ic-search-s-width: 32px;
$ic-search-s-height: 32px;
$ic-search-s-total-width: 292px;
$ic-search-s-total-height: 284px;
$ic-search-s-image: '../images/sprite.png';
$ic-search-s: (214px, 186px, -214px, -186px, 32px, 32px, 292px, 284px, '../images/sprite.png', 'ic-search-s', );
$ic-search-name: 'ic-search';
$ic-search-x: 221px;
$ic-search-y: 0px;
$ic-search-offset-x: -221px;
$ic-search-offset-y: 0px;
$ic-search-width: 40px;
$ic-search-height: 40px;
$ic-search-total-width: 292px;
$ic-search-total-height: 284px;
$ic-search-image: '../images/sprite.png';
$ic-search: (221px, 0px, -221px, 0px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'ic-search', );
$ic-shopping-cart-s-name: 'ic-shopping-cart-s';
$ic-shopping-cart-s-x: 0px;
$ic-shopping-cart-s-y: 227px;
$ic-shopping-cart-s-offset-x: 0px;
$ic-shopping-cart-s-offset-y: -227px;
$ic-shopping-cart-s-width: 32px;
$ic-shopping-cart-s-height: 32px;
$ic-shopping-cart-s-total-width: 292px;
$ic-shopping-cart-s-total-height: 284px;
$ic-shopping-cart-s-image: '../images/sprite.png';
$ic-shopping-cart-s: (0px, 227px, 0px, -227px, 32px, 32px, 292px, 284px, '../images/sprite.png', 'ic-shopping-cart-s', );
$ic-shopping-cart-name: 'ic-shopping-cart';
$ic-shopping-cart-x: 221px;
$ic-shopping-cart-y: 41px;
$ic-shopping-cart-offset-x: -221px;
$ic-shopping-cart-offset-y: -41px;
$ic-shopping-cart-width: 40px;
$ic-shopping-cart-height: 40px;
$ic-shopping-cart-total-width: 292px;
$ic-shopping-cart-total-height: 284px;
$ic-shopping-cart-image: '../images/sprite.png';
$ic-shopping-cart: (221px, 41px, -221px, -41px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'ic-shopping-cart', );
$modal-failure-name: 'modal-failure';
$modal-failure-x: 0px;
$modal-failure-y: 135px;
$modal-failure-offset-x: 0px;
$modal-failure-offset-y: -135px;
$modal-failure-width: 50px;
$modal-failure-height: 50px;
$modal-failure-total-width: 292px;
$modal-failure-total-height: 284px;
$modal-failure-image: '../images/sprite.png';
$modal-failure: (0px, 135px, 0px, -135px, 50px, 50px, 292px, 284px, '../images/sprite.png', 'modal-failure', );
$modal-success-name: 'modal-success';
$modal-success-x: 165px;
$modal-success-y: 61px;
$modal-success-offset-x: -165px;
$modal-success-offset-y: -61px;
$modal-success-width: 51px;
$modal-success-height: 51px;
$modal-success-total-width: 292px;
$modal-success-total-height: 284px;
$modal-success-image: '../images/sprite.png';
$modal-success: (165px, 61px, -165px, -61px, 51px, 51px, 292px, 284px, '../images/sprite.png', 'modal-success', );
$nav-bg-active-name: 'nav-bg-active';
$nav-bg-active-x: 0px;
$nav-bg-active-y: 61px;
$nav-bg-active-offset-x: 0px;
$nav-bg-active-offset-y: -61px;
$nav-bg-active-width: 164px;
$nav-bg-active-height: 73px;
$nav-bg-active-total-width: 292px;
$nav-bg-active-total-height: 284px;
$nav-bg-active-image: '../images/sprite.png';
$nav-bg-active: (0px, 61px, 0px, -61px, 164px, 73px, 292px, 284px, '../images/sprite.png', 'nav-bg-active', );
$nav-next-gray-name: 'nav-next-gray';
$nav-next-gray-x: 33px;
$nav-next-gray-y: 227px;
$nav-next-gray-offset-x: -33px;
$nav-next-gray-offset-y: -227px;
$nav-next-gray-width: 30px;
$nav-next-gray-height: 30px;
$nav-next-gray-total-width: 292px;
$nav-next-gray-total-height: 284px;
$nav-next-gray-image: '../images/sprite.png';
$nav-next-gray: (33px, 227px, -33px, -227px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'nav-next-gray', );
$nav-next-purple-name: 'nav-next-purple';
$nav-next-purple-x: 64px;
$nav-next-purple-y: 227px;
$nav-next-purple-offset-x: -64px;
$nav-next-purple-offset-y: -227px;
$nav-next-purple-width: 30px;
$nav-next-purple-height: 30px;
$nav-next-purple-total-width: 292px;
$nav-next-purple-total-height: 284px;
$nav-next-purple-image: '../images/sprite.png';
$nav-next-purple: (64px, 227px, -64px, -227px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'nav-next-purple', );
$nav-prev-gray-name: 'nav-prev-gray';
$nav-prev-gray-x: 95px;
$nav-prev-gray-y: 227px;
$nav-prev-gray-offset-x: -95px;
$nav-prev-gray-offset-y: -227px;
$nav-prev-gray-width: 30px;
$nav-prev-gray-height: 30px;
$nav-prev-gray-total-width: 292px;
$nav-prev-gray-total-height: 284px;
$nav-prev-gray-image: '../images/sprite.png';
$nav-prev-gray: (95px, 227px, -95px, -227px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'nav-prev-gray', );
$nav-prev-purple-hover-name: 'nav-prev-purple-hover';
$nav-prev-purple-hover-x: 126px;
$nav-prev-purple-hover-y: 227px;
$nav-prev-purple-hover-offset-x: -126px;
$nav-prev-purple-hover-offset-y: -227px;
$nav-prev-purple-hover-width: 30px;
$nav-prev-purple-hover-height: 30px;
$nav-prev-purple-hover-total-width: 292px;
$nav-prev-purple-hover-total-height: 284px;
$nav-prev-purple-hover-image: '../images/sprite.png';
$nav-prev-purple-hover: (126px, 227px, -126px, -227px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'nav-prev-purple-hover', );
$radio-checked-name: 'radio-checked';
$radio-checked-x: 262px;
$radio-checked-y: 206px;
$radio-checked-offset-x: -262px;
$radio-checked-offset-y: -206px;
$radio-checked-width: 24px;
$radio-checked-height: 24px;
$radio-checked-total-width: 292px;
$radio-checked-total-height: 284px;
$radio-checked-image: '../images/sprite.png';
$radio-checked: (262px, 206px, -262px, -206px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'radio-checked', );
$radio-default-name: 'radio-default';
$radio-default-x: 262px;
$radio-default-y: 231px;
$radio-default-offset-x: -262px;
$radio-default-offset-y: -231px;
$radio-default-width: 24px;
$radio-default-height: 24px;
$radio-default-total-width: 292px;
$radio-default-total-height: 284px;
$radio-default-image: '../images/sprite.png';
$radio-default: (262px, 231px, -262px, -231px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'radio-default', );
$radio-disabled-checked-name: 'radio-disabled-checked';
$radio-disabled-checked-x: 0px;
$radio-disabled-checked-y: 260px;
$radio-disabled-checked-offset-x: 0px;
$radio-disabled-checked-offset-y: -260px;
$radio-disabled-checked-width: 24px;
$radio-disabled-checked-height: 24px;
$radio-disabled-checked-total-width: 292px;
$radio-disabled-checked-total-height: 284px;
$radio-disabled-checked-image: '../images/sprite.png';
$radio-disabled-checked: (0px, 260px, 0px, -260px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'radio-disabled-checked', );
$radio-disabled-name: 'radio-disabled';
$radio-disabled-x: 25px;
$radio-disabled-y: 260px;
$radio-disabled-offset-x: -25px;
$radio-disabled-offset-y: -260px;
$radio-disabled-width: 24px;
$radio-disabled-height: 24px;
$radio-disabled-total-width: 292px;
$radio-disabled-total-height: 284px;
$radio-disabled-image: '../images/sprite.png';
$radio-disabled: (25px, 260px, -25px, -260px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'radio-disabled', );
$radio-error-checked-name: 'radio-error-checked';
$radio-error-checked-x: 50px;
$radio-error-checked-y: 260px;
$radio-error-checked-offset-x: -50px;
$radio-error-checked-offset-y: -260px;
$radio-error-checked-width: 24px;
$radio-error-checked-height: 24px;
$radio-error-checked-total-width: 292px;
$radio-error-checked-total-height: 284px;
$radio-error-checked-image: '../images/sprite.png';
$radio-error-checked: (50px, 260px, -50px, -260px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'radio-error-checked', );
$radio-error-name: 'radio-error';
$radio-error-x: 75px;
$radio-error-y: 260px;
$radio-error-offset-x: -75px;
$radio-error-offset-y: -260px;
$radio-error-width: 24px;
$radio-error-height: 24px;
$radio-error-total-width: 292px;
$radio-error-total-height: 284px;
$radio-error-image: '../images/sprite.png';
$radio-error: (75px, 260px, -75px, -260px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'radio-error', );
$radio-hover-name: 'radio-hover';
$radio-hover-x: 100px;
$radio-hover-y: 260px;
$radio-hover-offset-x: -100px;
$radio-hover-offset-y: -260px;
$radio-hover-width: 24px;
$radio-hover-height: 24px;
$radio-hover-total-width: 292px;
$radio-hover-total-height: 284px;
$radio-hover-image: '../images/sprite.png';
$radio-hover: (100px, 260px, -100px, -260px, 24px, 24px, 292px, 284px, '../images/sprite.png', 'radio-hover', );
$select-checked-s-name: 'select-checked-s';
$select-checked-s-x: 224px;
$select-checked-s-y: 260px;
$select-checked-s-offset-x: -224px;
$select-checked-s-offset-y: -260px;
$select-checked-s-width: 14px;
$select-checked-s-height: 14px;
$select-checked-s-total-width: 292px;
$select-checked-s-total-height: 284px;
$select-checked-s-image: '../images/sprite.png';
$select-checked-s: (224px, 260px, -224px, -260px, 14px, 14px, 292px, 284px, '../images/sprite.png', 'select-checked-s', );
$select-default-s-name: 'select-default-s';
$select-default-s-x: 239px;
$select-default-s-y: 260px;
$select-default-s-offset-x: -239px;
$select-default-s-offset-y: -260px;
$select-default-s-width: 14px;
$select-default-s-height: 14px;
$select-default-s-total-width: 292px;
$select-default-s-total-height: 284px;
$select-default-s-image: '../images/sprite.png';
$select-default-s: (239px, 260px, -239px, -260px, 14px, 14px, 292px, 284px, '../images/sprite.png', 'select-default-s', );
$select-default-name: 'select-default';
$select-default-x: 188px;
$select-default-y: 260px;
$select-default-offset-x: -188px;
$select-default-offset-y: -260px;
$select-default-width: 20px;
$select-default-height: 20px;
$select-default-total-width: 292px;
$select-default-total-height: 284px;
$select-default-image: '../images/sprite.png';
$select-default: (188px, 260px, -188px, -260px, 20px, 20px, 292px, 284px, '../images/sprite.png', 'select-default', );
$tab-bg-default-name: 'tab-bg-default';
$tab-bg-default-x: 0px;
$tab-bg-default-y: 0px;
$tab-bg-default-offset-x: 0px;
$tab-bg-default-offset-y: 0px;
$tab-bg-default-width: 220px;
$tab-bg-default-height: 60px;
$tab-bg-default-total-width: 292px;
$tab-bg-default-total-height: 284px;
$tab-bg-default-image: '../images/sprite.png';
$tab-bg-default: (0px, 0px, 0px, 0px, 220px, 60px, 292px, 284px, '../images/sprite.png', 'tab-bg-default', );
$tab-information-active-name: 'tab-information-active';
$tab-information-active-x: 221px;
$tab-information-active-y: 82px;
$tab-information-active-offset-x: -221px;
$tab-information-active-offset-y: -82px;
$tab-information-active-width: 40px;
$tab-information-active-height: 40px;
$tab-information-active-total-width: 292px;
$tab-information-active-total-height: 284px;
$tab-information-active-image: '../images/sprite.png';
$tab-information-active: (221px, 82px, -221px, -82px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'tab-information-active', );
$tab-information-default-name: 'tab-information-default';
$tab-information-default-x: 157px;
$tab-information-default-y: 227px;
$tab-information-default-offset-x: -157px;
$tab-information-default-offset-y: -227px;
$tab-information-default-width: 30px;
$tab-information-default-height: 30px;
$tab-information-default-total-width: 292px;
$tab-information-default-total-height: 284px;
$tab-information-default-image: '../images/sprite.png';
$tab-information-default: (157px, 227px, -157px, -227px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'tab-information-default', );
$tab-purchase-active-name: 'tab-purchase-active';
$tab-purchase-active-x: 221px;
$tab-purchase-active-y: 123px;
$tab-purchase-active-offset-x: -221px;
$tab-purchase-active-offset-y: -123px;
$tab-purchase-active-width: 40px;
$tab-purchase-active-height: 40px;
$tab-purchase-active-total-width: 292px;
$tab-purchase-active-total-height: 284px;
$tab-purchase-active-image: '../images/sprite.png';
$tab-purchase-active: (221px, 123px, -221px, -123px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'tab-purchase-active', );
$tab-purchase-default-name: 'tab-purchase-default';
$tab-purchase-default-x: 188px;
$tab-purchase-default-y: 227px;
$tab-purchase-default-offset-x: -188px;
$tab-purchase-default-offset-y: -227px;
$tab-purchase-default-width: 30px;
$tab-purchase-default-height: 30px;
$tab-purchase-default-total-width: 292px;
$tab-purchase-default-total-height: 284px;
$tab-purchase-default-image: '../images/sprite.png';
$tab-purchase-default: (188px, 227px, -188px, -227px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'tab-purchase-default', );
$tab-qa-active-name: 'tab-qa-active';
$tab-qa-active-x: 0px;
$tab-qa-active-y: 186px;
$tab-qa-active-offset-x: 0px;
$tab-qa-active-offset-y: -186px;
$tab-qa-active-width: 40px;
$tab-qa-active-height: 40px;
$tab-qa-active-total-width: 292px;
$tab-qa-active-total-height: 284px;
$tab-qa-active-image: '../images/sprite.png';
$tab-qa-active: (0px, 186px, 0px, -186px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'tab-qa-active', );
$tab-qa-default-name: 'tab-qa-default';
$tab-qa-default-x: 219px;
$tab-qa-default-y: 227px;
$tab-qa-default-offset-x: -219px;
$tab-qa-default-offset-y: -227px;
$tab-qa-default-width: 30px;
$tab-qa-default-height: 30px;
$tab-qa-default-total-width: 292px;
$tab-qa-default-total-height: 284px;
$tab-qa-default-image: '../images/sprite.png';
$tab-qa-default: (219px, 227px, -219px, -227px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'tab-qa-default', );
$tab-record-active-name: 'tab-record-active';
$tab-record-active-x: 41px;
$tab-record-active-y: 186px;
$tab-record-active-offset-x: -41px;
$tab-record-active-offset-y: -186px;
$tab-record-active-width: 40px;
$tab-record-active-height: 40px;
$tab-record-active-total-width: 292px;
$tab-record-active-total-height: 284px;
$tab-record-active-image: '../images/sprite.png';
$tab-record-active: (41px, 186px, -41px, -186px, 40px, 40px, 292px, 284px, '../images/sprite.png', 'tab-record-active', );
$tab-record-default-name: 'tab-record-default';
$tab-record-default-x: 262px;
$tab-record-default-y: 0px;
$tab-record-default-offset-x: -262px;
$tab-record-default-offset-y: 0px;
$tab-record-default-width: 30px;
$tab-record-default-height: 30px;
$tab-record-default-total-width: 292px;
$tab-record-default-total-height: 284px;
$tab-record-default-image: '../images/sprite.png';
$tab-record-default: (262px, 0px, -262px, 0px, 30px, 30px, 292px, 284px, '../images/sprite.png', 'tab-record-default', );
$checkbox-checked-2x-name: 'checkbox-checked@2x';
$checkbox-checked-2x-x: 524px;
$checkbox-checked-2x-y: 62px;
$checkbox-checked-2x-offset-x: -524px;
$checkbox-checked-2x-offset-y: -62px;
$checkbox-checked-2x-width: 48px;
$checkbox-checked-2x-height: 48px;
$checkbox-checked-2x-total-width: 584px;
$checkbox-checked-2x-total-height: 568px;
$checkbox-checked-2x-image: '../images/sprite@2x.png';
$checkbox-checked-2x: (524px, 62px, -524px, -62px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'checkbox-checked@2x', );
$checkbox-default-2x-name: 'checkbox-default@2x';
$checkbox-default-2x-x: 524px;
$checkbox-default-2x-y: 112px;
$checkbox-default-2x-offset-x: -524px;
$checkbox-default-2x-offset-y: -112px;
$checkbox-default-2x-width: 48px;
$checkbox-default-2x-height: 48px;
$checkbox-default-2x-total-width: 584px;
$checkbox-default-2x-total-height: 568px;
$checkbox-default-2x-image: '../images/sprite@2x.png';
$checkbox-default-2x: (524px, 112px, -524px, -112px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'checkbox-default@2x', );
$checkbox-disabled-checked-2x-name: 'checkbox-disabled-checked@2x';
$checkbox-disabled-checked-2x-x: 524px;
$checkbox-disabled-checked-2x-y: 162px;
$checkbox-disabled-checked-2x-offset-x: -524px;
$checkbox-disabled-checked-2x-offset-y: -162px;
$checkbox-disabled-checked-2x-width: 48px;
$checkbox-disabled-checked-2x-height: 48px;
$checkbox-disabled-checked-2x-total-width: 584px;
$checkbox-disabled-checked-2x-total-height: 568px;
$checkbox-disabled-checked-2x-image: '../images/sprite@2x.png';
$checkbox-disabled-checked-2x: (524px, 162px, -524px, -162px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'checkbox-disabled-checked@2x', );
$checkbox-disabled-2x-name: 'checkbox-disabled@2x';
$checkbox-disabled-2x-x: 524px;
$checkbox-disabled-2x-y: 212px;
$checkbox-disabled-2x-offset-x: -524px;
$checkbox-disabled-2x-offset-y: -212px;
$checkbox-disabled-2x-width: 48px;
$checkbox-disabled-2x-height: 48px;
$checkbox-disabled-2x-total-width: 584px;
$checkbox-disabled-2x-total-height: 568px;
$checkbox-disabled-2x-image: '../images/sprite@2x.png';
$checkbox-disabled-2x: (524px, 212px, -524px, -212px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'checkbox-disabled@2x', );
$checkbox-error-checked-2x-name: 'checkbox-error-checked@2x';
$checkbox-error-checked-2x-x: 524px;
$checkbox-error-checked-2x-y: 262px;
$checkbox-error-checked-2x-offset-x: -524px;
$checkbox-error-checked-2x-offset-y: -262px;
$checkbox-error-checked-2x-width: 48px;
$checkbox-error-checked-2x-height: 48px;
$checkbox-error-checked-2x-total-width: 584px;
$checkbox-error-checked-2x-total-height: 568px;
$checkbox-error-checked-2x-image: '../images/sprite@2x.png';
$checkbox-error-checked-2x: (524px, 262px, -524px, -262px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'checkbox-error-checked@2x', );
$checkbox-error-2x-name: 'checkbox-error@2x';
$checkbox-error-2x-x: 524px;
$checkbox-error-2x-y: 312px;
$checkbox-error-2x-offset-x: -524px;
$checkbox-error-2x-offset-y: -312px;
$checkbox-error-2x-width: 48px;
$checkbox-error-2x-height: 48px;
$checkbox-error-2x-total-width: 584px;
$checkbox-error-2x-total-height: 568px;
$checkbox-error-2x-image: '../images/sprite@2x.png';
$checkbox-error-2x: (524px, 312px, -524px, -312px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'checkbox-error@2x', );
$checkbox-hover-2x-name: 'checkbox-hover@2x';
$checkbox-hover-2x-x: 524px;
$checkbox-hover-2x-y: 362px;
$checkbox-hover-2x-offset-x: -524px;
$checkbox-hover-2x-offset-y: -362px;
$checkbox-hover-2x-width: 48px;
$checkbox-hover-2x-height: 48px;
$checkbox-hover-2x-total-width: 584px;
$checkbox-hover-2x-total-height: 568px;
$checkbox-hover-2x-image: '../images/sprite@2x.png';
$checkbox-hover-2x: (524px, 362px, -524px, -362px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'checkbox-hover@2x', );
$ic-account-s-2x-name: 'ic-account-s@2x';
$ic-account-s-2x-x: 164px;
$ic-account-s-2x-y: 372px;
$ic-account-s-2x-offset-x: -164px;
$ic-account-s-2x-offset-y: -372px;
$ic-account-s-2x-width: 64px;
$ic-account-s-2x-height: 64px;
$ic-account-s-2x-total-width: 584px;
$ic-account-s-2x-total-height: 568px;
$ic-account-s-2x-image: '../images/sprite@2x.png';
$ic-account-s-2x: (164px, 372px, -164px, -372px, 64px, 64px, 584px, 568px, '../images/sprite@2x.png', 'ic-account-s@2x', );
$ic-account-2x-name: 'ic-account@2x';
$ic-account-2x-x: 102px;
$ic-account-2x-y: 270px;
$ic-account-2x-offset-x: -102px;
$ic-account-2x-offset-y: -270px;
$ic-account-2x-width: 80px;
$ic-account-2x-height: 80px;
$ic-account-2x-total-width: 584px;
$ic-account-2x-total-height: 568px;
$ic-account-2x-image: '../images/sprite@2x.png';
$ic-account-2x: (102px, 270px, -102px, -270px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'ic-account@2x', );
$ic-dropdown-default-2x-name: 'ic-dropdown-default@2x';
$ic-dropdown-default-2x-x: 442px;
$ic-dropdown-default-2x-y: 328px;
$ic-dropdown-default-2x-offset-x: -442px;
$ic-dropdown-default-2x-offset-y: -328px;
$ic-dropdown-default-2x-width: 40px;
$ic-dropdown-default-2x-height: 40px;
$ic-dropdown-default-2x-total-width: 584px;
$ic-dropdown-default-2x-total-height: 568px;
$ic-dropdown-default-2x-image: '../images/sprite@2x.png';
$ic-dropdown-default-2x: (442px, 328px, -442px, -328px, 40px, 40px, 584px, 568px, '../images/sprite@2x.png', 'ic-dropdown-default@2x', );
$ic-dropdown-down-white-2x-name: 'ic-dropdown-down-white@2x';
$ic-dropdown-down-white-2x-x: 330px;
$ic-dropdown-down-white-2x-y: 226px;
$ic-dropdown-down-white-2x-offset-x: -330px;
$ic-dropdown-down-white-2x-offset-y: -226px;
$ic-dropdown-down-white-2x-width: 40px;
$ic-dropdown-down-white-2x-height: 40px;
$ic-dropdown-down-white-2x-total-width: 584px;
$ic-dropdown-down-white-2x-total-height: 568px;
$ic-dropdown-down-white-2x-image: '../images/sprite@2x.png';
$ic-dropdown-down-white-2x: (330px, 226px, -330px, -226px, 40px, 40px, 584px, 568px, '../images/sprite@2x.png', 'ic-dropdown-down-white@2x', );
$ic-form-asc-2x-name: 'ic-form-asc@2x';
$ic-form-asc-2x-x: 484px;
$ic-form-asc-2x-y: 328px;
$ic-form-asc-2x-offset-x: -484px;
$ic-form-asc-2x-offset-y: -328px;
$ic-form-asc-2x-width: 28px;
$ic-form-asc-2x-height: 28px;
$ic-form-asc-2x-total-width: 584px;
$ic-form-asc-2x-total-height: 568px;
$ic-form-asc-2x-image: '../images/sprite@2x.png';
$ic-form-asc-2x: (484px, 328px, -484px, -328px, 28px, 28px, 584px, 568px, '../images/sprite@2x.png', 'ic-form-asc@2x', );
$ic-form-both-2x-name: 'ic-form-both@2x';
$ic-form-both-2x-x: 494px;
$ic-form-both-2x-y: 372px;
$ic-form-both-2x-offset-x: -494px;
$ic-form-both-2x-offset-y: -372px;
$ic-form-both-2x-width: 28px;
$ic-form-both-2x-height: 28px;
$ic-form-both-2x-total-width: 584px;
$ic-form-both-2x-total-height: 568px;
$ic-form-both-2x-image: '../images/sprite@2x.png';
$ic-form-both-2x: (494px, 372px, -494px, -372px, 28px, 28px, 584px, 568px, '../images/sprite@2x.png', 'ic-form-both@2x', );
$ic-form-desc-2x-name: 'ic-form-desc@2x';
$ic-form-desc-2x-x: 494px;
$ic-form-desc-2x-y: 402px;
$ic-form-desc-2x-offset-x: -494px;
$ic-form-desc-2x-offset-y: -402px;
$ic-form-desc-2x-width: 28px;
$ic-form-desc-2x-height: 28px;
$ic-form-desc-2x-total-width: 584px;
$ic-form-desc-2x-total-height: 568px;
$ic-form-desc-2x-image: '../images/sprite@2x.png';
$ic-form-desc-2x: (494px, 402px, -494px, -402px, 28px, 28px, 584px, 568px, '../images/sprite@2x.png', 'ic-form-desc@2x', );
$ic-hamburger-s-2x-name: 'ic-hamburger-s@2x';
$ic-hamburger-s-2x-x: 230px;
$ic-hamburger-s-2x-y: 372px;
$ic-hamburger-s-2x-offset-x: -230px;
$ic-hamburger-s-2x-offset-y: -372px;
$ic-hamburger-s-2x-width: 64px;
$ic-hamburger-s-2x-height: 64px;
$ic-hamburger-s-2x-total-width: 584px;
$ic-hamburger-s-2x-total-height: 568px;
$ic-hamburger-s-2x-image: '../images/sprite@2x.png';
$ic-hamburger-s-2x: (230px, 372px, -230px, -372px, 64px, 64px, 584px, 568px, '../images/sprite@2x.png', 'ic-hamburger-s@2x', );
$ic-hamburger-2x-name: 'ic-hamburger@2x';
$ic-hamburger-2x-x: 184px;
$ic-hamburger-2x-y: 270px;
$ic-hamburger-2x-offset-x: -184px;
$ic-hamburger-2x-offset-y: -270px;
$ic-hamburger-2x-width: 80px;
$ic-hamburger-2x-height: 80px;
$ic-hamburger-2x-total-width: 584px;
$ic-hamburger-2x-total-height: 568px;
$ic-hamburger-2x-image: '../images/sprite@2x.png';
$ic-hamburger-2x: (184px, 270px, -184px, -270px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'ic-hamburger@2x', );
$ic-landmark-s-2x-name: 'ic-landmark-s@2x';
$ic-landmark-s-2x-x: 414px;
$ic-landmark-s-2x-y: 226px;
$ic-landmark-s-2x-offset-x: -414px;
$ic-landmark-s-2x-offset-y: -226px;
$ic-landmark-s-2x-width: 24px;
$ic-landmark-s-2x-height: 24px;
$ic-landmark-s-2x-total-width: 584px;
$ic-landmark-s-2x-total-height: 568px;
$ic-landmark-s-2x-image: '../images/sprite@2x.png';
$ic-landmark-s-2x: (414px, 226px, -414px, -226px, 24px, 24px, 584px, 568px, '../images/sprite@2x.png', 'ic-landmark-s@2x', );
$ic-landmark-2x-name: 'ic-landmark@2x';
$ic-landmark-2x-x: 418px;
$ic-landmark-2x-y: 520px;
$ic-landmark-2x-offset-x: -418px;
$ic-landmark-2x-offset-y: -520px;
$ic-landmark-2x-width: 28px;
$ic-landmark-2x-height: 28px;
$ic-landmark-2x-total-width: 584px;
$ic-landmark-2x-total-height: 568px;
$ic-landmark-2x-image: '../images/sprite@2x.png';
$ic-landmark-2x: (418px, 520px, -418px, -520px, 28px, 28px, 584px, 568px, '../images/sprite@2x.png', 'ic-landmark@2x', );
$ic-next-gray-2x-name: 'ic-next-gray@2x';
$ic-next-gray-2x-x: 372px;
$ic-next-gray-2x-y: 226px;
$ic-next-gray-2x-offset-x: -372px;
$ic-next-gray-2x-offset-y: -226px;
$ic-next-gray-2x-width: 40px;
$ic-next-gray-2x-height: 40px;
$ic-next-gray-2x-total-width: 584px;
$ic-next-gray-2x-total-height: 568px;
$ic-next-gray-2x-image: '../images/sprite@2x.png';
$ic-next-gray-2x: (372px, 226px, -372px, -226px, 40px, 40px, 584px, 568px, '../images/sprite@2x.png', 'ic-next-gray@2x', );
$ic-notice-circle-s-2x-name: 'ic-notice-circle-s@2x';
$ic-notice-circle-s-2x-x: 296px;
$ic-notice-circle-s-2x-y: 372px;
$ic-notice-circle-s-2x-offset-x: -296px;
$ic-notice-circle-s-2x-offset-y: -372px;
$ic-notice-circle-s-2x-width: 64px;
$ic-notice-circle-s-2x-height: 64px;
$ic-notice-circle-s-2x-total-width: 584px;
$ic-notice-circle-s-2x-total-height: 568px;
$ic-notice-circle-s-2x-image: '../images/sprite@2x.png';
$ic-notice-circle-s-2x: (296px, 372px, -296px, -372px, 64px, 64px, 584px, 568px, '../images/sprite@2x.png', 'ic-notice-circle-s@2x', );
$ic-notice-circle-2x-name: 'ic-notice-circle@2x';
$ic-notice-circle-2x-x: 266px;
$ic-notice-circle-2x-y: 270px;
$ic-notice-circle-2x-offset-x: -266px;
$ic-notice-circle-2x-offset-y: -270px;
$ic-notice-circle-2x-width: 80px;
$ic-notice-circle-2x-height: 80px;
$ic-notice-circle-2x-total-width: 584px;
$ic-notice-circle-2x-total-height: 568px;
$ic-notice-circle-2x-image: '../images/sprite@2x.png';
$ic-notice-circle-2x: (266px, 270px, -266px, -270px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'ic-notice-circle@2x', );
$ic-notice-s-2x-name: 'ic-notice-s@2x';
$ic-notice-s-2x-x: 362px;
$ic-notice-s-2x-y: 372px;
$ic-notice-s-2x-offset-x: -362px;
$ic-notice-s-2x-offset-y: -372px;
$ic-notice-s-2x-width: 64px;
$ic-notice-s-2x-height: 64px;
$ic-notice-s-2x-total-width: 584px;
$ic-notice-s-2x-total-height: 568px;
$ic-notice-s-2x-image: '../images/sprite@2x.png';
$ic-notice-s-2x: (362px, 372px, -362px, -372px, 64px, 64px, 584px, 568px, '../images/sprite@2x.png', 'ic-notice-s@2x', );
$ic-notice-2x-name: 'ic-notice@2x';
$ic-notice-2x-x: 348px;
$ic-notice-2x-y: 270px;
$ic-notice-2x-offset-x: -348px;
$ic-notice-2x-offset-y: -270px;
$ic-notice-2x-width: 80px;
$ic-notice-2x-height: 80px;
$ic-notice-2x-total-width: 584px;
$ic-notice-2x-total-height: 568px;
$ic-notice-2x-image: '../images/sprite@2x.png';
$ic-notice-2x: (348px, 270px, -348px, -270px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'ic-notice@2x', );
$ic-prev-gray-hover-2x-name: 'ic-prev-gray-hover@2x';
$ic-prev-gray-hover-2x-x: 250px;
$ic-prev-gray-hover-2x-y: 520px;
$ic-prev-gray-hover-2x-offset-x: -250px;
$ic-prev-gray-hover-2x-offset-y: -520px;
$ic-prev-gray-hover-2x-width: 40px;
$ic-prev-gray-hover-2x-height: 40px;
$ic-prev-gray-hover-2x-total-width: 584px;
$ic-prev-gray-hover-2x-total-height: 568px;
$ic-prev-gray-hover-2x-image: '../images/sprite@2x.png';
$ic-prev-gray-hover-2x: (250px, 520px, -250px, -520px, 40px, 40px, 584px, 568px, '../images/sprite@2x.png', 'ic-prev-gray-hover@2x', );
$ic-prev-gray-2x-name: 'ic-prev-gray@2x';
$ic-prev-gray-2x-x: 292px;
$ic-prev-gray-2x-y: 520px;
$ic-prev-gray-2x-offset-x: -292px;
$ic-prev-gray-2x-offset-y: -520px;
$ic-prev-gray-2x-width: 40px;
$ic-prev-gray-2x-height: 40px;
$ic-prev-gray-2x-total-width: 584px;
$ic-prev-gray-2x-total-height: 568px;
$ic-prev-gray-2x-image: '../images/sprite@2x.png';
$ic-prev-gray-2x: (292px, 520px, -292px, -520px, 40px, 40px, 584px, 568px, '../images/sprite@2x.png', 'ic-prev-gray@2x', );
$ic-search-purple-2x-name: 'ic-search-purple@2x';
$ic-search-purple-2x-x: 334px;
$ic-search-purple-2x-y: 520px;
$ic-search-purple-2x-offset-x: -334px;
$ic-search-purple-2x-offset-y: -520px;
$ic-search-purple-2x-width: 40px;
$ic-search-purple-2x-height: 40px;
$ic-search-purple-2x-total-width: 584px;
$ic-search-purple-2x-total-height: 568px;
$ic-search-purple-2x-image: '../images/sprite@2x.png';
$ic-search-purple-2x: (334px, 520px, -334px, -520px, 40px, 40px, 584px, 568px, '../images/sprite@2x.png', 'ic-search-purple@2x', );
$ic-search-s-2x-name: 'ic-search-s@2x';
$ic-search-s-2x-x: 428px;
$ic-search-s-2x-y: 372px;
$ic-search-s-2x-offset-x: -428px;
$ic-search-s-2x-offset-y: -372px;
$ic-search-s-2x-width: 64px;
$ic-search-s-2x-height: 64px;
$ic-search-s-2x-total-width: 584px;
$ic-search-s-2x-total-height: 568px;
$ic-search-s-2x-image: '../images/sprite@2x.png';
$ic-search-s-2x: (428px, 372px, -428px, -372px, 64px, 64px, 584px, 568px, '../images/sprite@2x.png', 'ic-search-s@2x', );
$ic-search-2x-name: 'ic-search@2x';
$ic-search-2x-x: 442px;
$ic-search-2x-y: 0px;
$ic-search-2x-offset-x: -442px;
$ic-search-2x-offset-y: 0px;
$ic-search-2x-width: 80px;
$ic-search-2x-height: 80px;
$ic-search-2x-total-width: 584px;
$ic-search-2x-total-height: 568px;
$ic-search-2x-image: '../images/sprite@2x.png';
$ic-search-2x: (442px, 0px, -442px, 0px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'ic-search@2x', );
$ic-shopping-cart-s-2x-name: 'ic-shopping-cart-s@2x';
$ic-shopping-cart-s-2x-x: 0px;
$ic-shopping-cart-s-2x-y: 454px;
$ic-shopping-cart-s-2x-offset-x: 0px;
$ic-shopping-cart-s-2x-offset-y: -454px;
$ic-shopping-cart-s-2x-width: 64px;
$ic-shopping-cart-s-2x-height: 64px;
$ic-shopping-cart-s-2x-total-width: 584px;
$ic-shopping-cart-s-2x-total-height: 568px;
$ic-shopping-cart-s-2x-image: '../images/sprite@2x.png';
$ic-shopping-cart-s-2x: (0px, 454px, 0px, -454px, 64px, 64px, 584px, 568px, '../images/sprite@2x.png', 'ic-shopping-cart-s@2x', );
$ic-shopping-cart-2x-name: 'ic-shopping-cart@2x';
$ic-shopping-cart-2x-x: 442px;
$ic-shopping-cart-2x-y: 82px;
$ic-shopping-cart-2x-offset-x: -442px;
$ic-shopping-cart-2x-offset-y: -82px;
$ic-shopping-cart-2x-width: 80px;
$ic-shopping-cart-2x-height: 80px;
$ic-shopping-cart-2x-total-width: 584px;
$ic-shopping-cart-2x-total-height: 568px;
$ic-shopping-cart-2x-image: '../images/sprite@2x.png';
$ic-shopping-cart-2x: (442px, 82px, -442px, -82px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'ic-shopping-cart@2x', );
$modal-failure-2x-name: 'modal-failure@2x';
$modal-failure-2x-x: 0px;
$modal-failure-2x-y: 270px;
$modal-failure-2x-offset-x: 0px;
$modal-failure-2x-offset-y: -270px;
$modal-failure-2x-width: 100px;
$modal-failure-2x-height: 100px;
$modal-failure-2x-total-width: 584px;
$modal-failure-2x-total-height: 568px;
$modal-failure-2x-image: '../images/sprite@2x.png';
$modal-failure-2x: (0px, 270px, 0px, -270px, 100px, 100px, 584px, 568px, '../images/sprite@2x.png', 'modal-failure@2x', );
$modal-success-2x-name: 'modal-success@2x';
$modal-success-2x-x: 330px;
$modal-success-2x-y: 122px;
$modal-success-2x-offset-x: -330px;
$modal-success-2x-offset-y: -122px;
$modal-success-2x-width: 102px;
$modal-success-2x-height: 102px;
$modal-success-2x-total-width: 584px;
$modal-success-2x-total-height: 568px;
$modal-success-2x-image: '../images/sprite@2x.png';
$modal-success-2x: (330px, 122px, -330px, -122px, 102px, 102px, 584px, 568px, '../images/sprite@2x.png', 'modal-success@2x', );
$nav-bg-active-2x-name: 'nav-bg-active@2x';
$nav-bg-active-2x-x: 0px;
$nav-bg-active-2x-y: 122px;
$nav-bg-active-2x-offset-x: 0px;
$nav-bg-active-2x-offset-y: -122px;
$nav-bg-active-2x-width: 328px;
$nav-bg-active-2x-height: 146px;
$nav-bg-active-2x-total-width: 584px;
$nav-bg-active-2x-total-height: 568px;
$nav-bg-active-2x-image: '../images/sprite@2x.png';
$nav-bg-active-2x: (0px, 122px, 0px, -122px, 328px, 146px, 584px, 568px, '../images/sprite@2x.png', 'nav-bg-active@2x', );
$nav-next-gray-2x-name: 'nav-next-gray@2x';
$nav-next-gray-2x-x: 66px;
$nav-next-gray-2x-y: 454px;
$nav-next-gray-2x-offset-x: -66px;
$nav-next-gray-2x-offset-y: -454px;
$nav-next-gray-2x-width: 60px;
$nav-next-gray-2x-height: 60px;
$nav-next-gray-2x-total-width: 584px;
$nav-next-gray-2x-total-height: 568px;
$nav-next-gray-2x-image: '../images/sprite@2x.png';
$nav-next-gray-2x: (66px, 454px, -66px, -454px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'nav-next-gray@2x', );
$nav-next-purple-2x-name: 'nav-next-purple@2x';
$nav-next-purple-2x-x: 128px;
$nav-next-purple-2x-y: 454px;
$nav-next-purple-2x-offset-x: -128px;
$nav-next-purple-2x-offset-y: -454px;
$nav-next-purple-2x-width: 60px;
$nav-next-purple-2x-height: 60px;
$nav-next-purple-2x-total-width: 584px;
$nav-next-purple-2x-total-height: 568px;
$nav-next-purple-2x-image: '../images/sprite@2x.png';
$nav-next-purple-2x: (128px, 454px, -128px, -454px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'nav-next-purple@2x', );
$nav-prev-gray-2x-name: 'nav-prev-gray@2x';
$nav-prev-gray-2x-x: 190px;
$nav-prev-gray-2x-y: 454px;
$nav-prev-gray-2x-offset-x: -190px;
$nav-prev-gray-2x-offset-y: -454px;
$nav-prev-gray-2x-width: 60px;
$nav-prev-gray-2x-height: 60px;
$nav-prev-gray-2x-total-width: 584px;
$nav-prev-gray-2x-total-height: 568px;
$nav-prev-gray-2x-image: '../images/sprite@2x.png';
$nav-prev-gray-2x: (190px, 454px, -190px, -454px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'nav-prev-gray@2x', );
$nav-prev-purple-hover-2x-name: 'nav-prev-purple-hover@2x';
$nav-prev-purple-hover-2x-x: 252px;
$nav-prev-purple-hover-2x-y: 454px;
$nav-prev-purple-hover-2x-offset-x: -252px;
$nav-prev-purple-hover-2x-offset-y: -454px;
$nav-prev-purple-hover-2x-width: 60px;
$nav-prev-purple-hover-2x-height: 60px;
$nav-prev-purple-hover-2x-total-width: 584px;
$nav-prev-purple-hover-2x-total-height: 568px;
$nav-prev-purple-hover-2x-image: '../images/sprite@2x.png';
$nav-prev-purple-hover-2x: (252px, 454px, -252px, -454px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'nav-prev-purple-hover@2x', );
$radio-checked-2x-name: 'radio-checked@2x';
$radio-checked-2x-x: 524px;
$radio-checked-2x-y: 412px;
$radio-checked-2x-offset-x: -524px;
$radio-checked-2x-offset-y: -412px;
$radio-checked-2x-width: 48px;
$radio-checked-2x-height: 48px;
$radio-checked-2x-total-width: 584px;
$radio-checked-2x-total-height: 568px;
$radio-checked-2x-image: '../images/sprite@2x.png';
$radio-checked-2x: (524px, 412px, -524px, -412px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'radio-checked@2x', );
$radio-default-2x-name: 'radio-default@2x';
$radio-default-2x-x: 524px;
$radio-default-2x-y: 462px;
$radio-default-2x-offset-x: -524px;
$radio-default-2x-offset-y: -462px;
$radio-default-2x-width: 48px;
$radio-default-2x-height: 48px;
$radio-default-2x-total-width: 584px;
$radio-default-2x-total-height: 568px;
$radio-default-2x-image: '../images/sprite@2x.png';
$radio-default-2x: (524px, 462px, -524px, -462px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'radio-default@2x', );
$radio-disabled-checked-2x-name: 'radio-disabled-checked@2x';
$radio-disabled-checked-2x-x: 0px;
$radio-disabled-checked-2x-y: 520px;
$radio-disabled-checked-2x-offset-x: 0px;
$radio-disabled-checked-2x-offset-y: -520px;
$radio-disabled-checked-2x-width: 48px;
$radio-disabled-checked-2x-height: 48px;
$radio-disabled-checked-2x-total-width: 584px;
$radio-disabled-checked-2x-total-height: 568px;
$radio-disabled-checked-2x-image: '../images/sprite@2x.png';
$radio-disabled-checked-2x: (0px, 520px, 0px, -520px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'radio-disabled-checked@2x', );
$radio-disabled-2x-name: 'radio-disabled@2x';
$radio-disabled-2x-x: 50px;
$radio-disabled-2x-y: 520px;
$radio-disabled-2x-offset-x: -50px;
$radio-disabled-2x-offset-y: -520px;
$radio-disabled-2x-width: 48px;
$radio-disabled-2x-height: 48px;
$radio-disabled-2x-total-width: 584px;
$radio-disabled-2x-total-height: 568px;
$radio-disabled-2x-image: '../images/sprite@2x.png';
$radio-disabled-2x: (50px, 520px, -50px, -520px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'radio-disabled@2x', );
$radio-error-checked-2x-name: 'radio-error-checked@2x';
$radio-error-checked-2x-x: 100px;
$radio-error-checked-2x-y: 520px;
$radio-error-checked-2x-offset-x: -100px;
$radio-error-checked-2x-offset-y: -520px;
$radio-error-checked-2x-width: 48px;
$radio-error-checked-2x-height: 48px;
$radio-error-checked-2x-total-width: 584px;
$radio-error-checked-2x-total-height: 568px;
$radio-error-checked-2x-image: '../images/sprite@2x.png';
$radio-error-checked-2x: (100px, 520px, -100px, -520px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'radio-error-checked@2x', );
$radio-error-2x-name: 'radio-error@2x';
$radio-error-2x-x: 150px;
$radio-error-2x-y: 520px;
$radio-error-2x-offset-x: -150px;
$radio-error-2x-offset-y: -520px;
$radio-error-2x-width: 48px;
$radio-error-2x-height: 48px;
$radio-error-2x-total-width: 584px;
$radio-error-2x-total-height: 568px;
$radio-error-2x-image: '../images/sprite@2x.png';
$radio-error-2x: (150px, 520px, -150px, -520px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'radio-error@2x', );
$radio-hover-2x-name: 'radio-hover@2x';
$radio-hover-2x-x: 200px;
$radio-hover-2x-y: 520px;
$radio-hover-2x-offset-x: -200px;
$radio-hover-2x-offset-y: -520px;
$radio-hover-2x-width: 48px;
$radio-hover-2x-height: 48px;
$radio-hover-2x-total-width: 584px;
$radio-hover-2x-total-height: 568px;
$radio-hover-2x-image: '../images/sprite@2x.png';
$radio-hover-2x: (200px, 520px, -200px, -520px, 48px, 48px, 584px, 568px, '../images/sprite@2x.png', 'radio-hover@2x', );
$select-checked-s-2x-name: 'select-checked-s@2x';
$select-checked-s-2x-x: 448px;
$select-checked-s-2x-y: 520px;
$select-checked-s-2x-offset-x: -448px;
$select-checked-s-2x-offset-y: -520px;
$select-checked-s-2x-width: 28px;
$select-checked-s-2x-height: 28px;
$select-checked-s-2x-total-width: 584px;
$select-checked-s-2x-total-height: 568px;
$select-checked-s-2x-image: '../images/sprite@2x.png';
$select-checked-s-2x: (448px, 520px, -448px, -520px, 28px, 28px, 584px, 568px, '../images/sprite@2x.png', 'select-checked-s@2x', );
$select-default-s-2x-name: 'select-default-s@2x';
$select-default-s-2x-x: 478px;
$select-default-s-2x-y: 520px;
$select-default-s-2x-offset-x: -478px;
$select-default-s-2x-offset-y: -520px;
$select-default-s-2x-width: 28px;
$select-default-s-2x-height: 28px;
$select-default-s-2x-total-width: 584px;
$select-default-s-2x-total-height: 568px;
$select-default-s-2x-image: '../images/sprite@2x.png';
$select-default-s-2x: (478px, 520px, -478px, -520px, 28px, 28px, 584px, 568px, '../images/sprite@2x.png', 'select-default-s@2x', );
$select-default-2x-name: 'select-default@2x';
$select-default-2x-x: 376px;
$select-default-2x-y: 520px;
$select-default-2x-offset-x: -376px;
$select-default-2x-offset-y: -520px;
$select-default-2x-width: 40px;
$select-default-2x-height: 40px;
$select-default-2x-total-width: 584px;
$select-default-2x-total-height: 568px;
$select-default-2x-image: '../images/sprite@2x.png';
$select-default-2x: (376px, 520px, -376px, -520px, 40px, 40px, 584px, 568px, '../images/sprite@2x.png', 'select-default@2x', );
$tab-bg-default-2x-name: 'tab-bg-default@2x';
$tab-bg-default-2x-x: 0px;
$tab-bg-default-2x-y: 0px;
$tab-bg-default-2x-offset-x: 0px;
$tab-bg-default-2x-offset-y: 0px;
$tab-bg-default-2x-width: 440px;
$tab-bg-default-2x-height: 120px;
$tab-bg-default-2x-total-width: 584px;
$tab-bg-default-2x-total-height: 568px;
$tab-bg-default-2x-image: '../images/sprite@2x.png';
$tab-bg-default-2x: (0px, 0px, 0px, 0px, 440px, 120px, 584px, 568px, '../images/sprite@2x.png', 'tab-bg-default@2x', );
$tab-information-active-2x-name: 'tab-information-active@2x';
$tab-information-active-2x-x: 442px;
$tab-information-active-2x-y: 164px;
$tab-information-active-2x-offset-x: -442px;
$tab-information-active-2x-offset-y: -164px;
$tab-information-active-2x-width: 80px;
$tab-information-active-2x-height: 80px;
$tab-information-active-2x-total-width: 584px;
$tab-information-active-2x-total-height: 568px;
$tab-information-active-2x-image: '../images/sprite@2x.png';
$tab-information-active-2x: (442px, 164px, -442px, -164px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'tab-information-active@2x', );
$tab-information-default-2x-name: 'tab-information-default@2x';
$tab-information-default-2x-x: 314px;
$tab-information-default-2x-y: 454px;
$tab-information-default-2x-offset-x: -314px;
$tab-information-default-2x-offset-y: -454px;
$tab-information-default-2x-width: 60px;
$tab-information-default-2x-height: 60px;
$tab-information-default-2x-total-width: 584px;
$tab-information-default-2x-total-height: 568px;
$tab-information-default-2x-image: '../images/sprite@2x.png';
$tab-information-default-2x: (314px, 454px, -314px, -454px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'tab-information-default@2x', );
$tab-purchase-active-2x-name: 'tab-purchase-active@2x';
$tab-purchase-active-2x-x: 442px;
$tab-purchase-active-2x-y: 246px;
$tab-purchase-active-2x-offset-x: -442px;
$tab-purchase-active-2x-offset-y: -246px;
$tab-purchase-active-2x-width: 80px;
$tab-purchase-active-2x-height: 80px;
$tab-purchase-active-2x-total-width: 584px;
$tab-purchase-active-2x-total-height: 568px;
$tab-purchase-active-2x-image: '../images/sprite@2x.png';
$tab-purchase-active-2x: (442px, 246px, -442px, -246px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'tab-purchase-active@2x', );
$tab-purchase-default-2x-name: 'tab-purchase-default@2x';
$tab-purchase-default-2x-x: 376px;
$tab-purchase-default-2x-y: 454px;
$tab-purchase-default-2x-offset-x: -376px;
$tab-purchase-default-2x-offset-y: -454px;
$tab-purchase-default-2x-width: 60px;
$tab-purchase-default-2x-height: 60px;
$tab-purchase-default-2x-total-width: 584px;
$tab-purchase-default-2x-total-height: 568px;
$tab-purchase-default-2x-image: '../images/sprite@2x.png';
$tab-purchase-default-2x: (376px, 454px, -376px, -454px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'tab-purchase-default@2x', );
$tab-qa-active-2x-name: 'tab-qa-active@2x';
$tab-qa-active-2x-x: 0px;
$tab-qa-active-2x-y: 372px;
$tab-qa-active-2x-offset-x: 0px;
$tab-qa-active-2x-offset-y: -372px;
$tab-qa-active-2x-width: 80px;
$tab-qa-active-2x-height: 80px;
$tab-qa-active-2x-total-width: 584px;
$tab-qa-active-2x-total-height: 568px;
$tab-qa-active-2x-image: '../images/sprite@2x.png';
$tab-qa-active-2x: (0px, 372px, 0px, -372px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'tab-qa-active@2x', );
$tab-qa-default-2x-name: 'tab-qa-default@2x';
$tab-qa-default-2x-x: 438px;
$tab-qa-default-2x-y: 454px;
$tab-qa-default-2x-offset-x: -438px;
$tab-qa-default-2x-offset-y: -454px;
$tab-qa-default-2x-width: 60px;
$tab-qa-default-2x-height: 60px;
$tab-qa-default-2x-total-width: 584px;
$tab-qa-default-2x-total-height: 568px;
$tab-qa-default-2x-image: '../images/sprite@2x.png';
$tab-qa-default-2x: (438px, 454px, -438px, -454px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'tab-qa-default@2x', );
$tab-record-active-2x-name: 'tab-record-active@2x';
$tab-record-active-2x-x: 82px;
$tab-record-active-2x-y: 372px;
$tab-record-active-2x-offset-x: -82px;
$tab-record-active-2x-offset-y: -372px;
$tab-record-active-2x-width: 80px;
$tab-record-active-2x-height: 80px;
$tab-record-active-2x-total-width: 584px;
$tab-record-active-2x-total-height: 568px;
$tab-record-active-2x-image: '../images/sprite@2x.png';
$tab-record-active-2x: (82px, 372px, -82px, -372px, 80px, 80px, 584px, 568px, '../images/sprite@2x.png', 'tab-record-active@2x', );
$tab-record-default-2x-name: 'tab-record-default@2x';
$tab-record-default-2x-x: 524px;
$tab-record-default-2x-y: 0px;
$tab-record-default-2x-offset-x: -524px;
$tab-record-default-2x-offset-y: 0px;
$tab-record-default-2x-width: 60px;
$tab-record-default-2x-height: 60px;
$tab-record-default-2x-total-width: 584px;
$tab-record-default-2x-total-height: 568px;
$tab-record-default-2x-image: '../images/sprite@2x.png';
$tab-record-default-2x: (524px, 0px, -524px, 0px, 60px, 60px, 584px, 568px, '../images/sprite@2x.png', 'tab-record-default@2x', );
$spritesheet-width: 292px;
$spritesheet-height: 284px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($checkbox-checked, $checkbox-default, $checkbox-disabled-checked, $checkbox-disabled, $checkbox-error-checked, $checkbox-error, $checkbox-hover, $ic-account-s, $ic-account, $ic-dropdown-default, $ic-dropdown-down-white, $ic-form-asc, $ic-form-both, $ic-form-desc, $ic-hamburger-s, $ic-hamburger, $ic-landmark-s, $ic-landmark, $ic-next-gray, $ic-notice-circle-s, $ic-notice-circle, $ic-notice-s, $ic-notice, $ic-prev-gray-hover, $ic-prev-gray, $ic-search-purple, $ic-search-s, $ic-search, $ic-shopping-cart-s, $ic-shopping-cart, $modal-failure, $modal-success, $nav-bg-active, $nav-next-gray, $nav-next-purple, $nav-prev-gray, $nav-prev-purple-hover, $radio-checked, $radio-default, $radio-disabled-checked, $radio-disabled, $radio-error-checked, $radio-error, $radio-hover, $select-checked-s, $select-default-s, $select-default, $tab-bg-default, $tab-information-active, $tab-information-default, $tab-purchase-active, $tab-purchase-default, $tab-qa-active, $tab-qa-default, $tab-record-active, $tab-record-default, );
$spritesheet: (292px, 284px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 584px;
$retina-spritesheet-height: 568px;
$retina-spritesheet-image: '../images/sprite@2x.png';
$retina-spritesheet-sprites: ($checkbox-checked-2x, $checkbox-default-2x, $checkbox-disabled-checked-2x, $checkbox-disabled-2x, $checkbox-error-checked-2x, $checkbox-error-2x, $checkbox-hover-2x, $ic-account-s-2x, $ic-account-2x, $ic-dropdown-default-2x, $ic-dropdown-down-white-2x, $ic-form-asc-2x, $ic-form-both-2x, $ic-form-desc-2x, $ic-hamburger-s-2x, $ic-hamburger-2x, $ic-landmark-s-2x, $ic-landmark-2x, $ic-next-gray-2x, $ic-notice-circle-s-2x, $ic-notice-circle-2x, $ic-notice-s-2x, $ic-notice-2x, $ic-prev-gray-hover-2x, $ic-prev-gray-2x, $ic-search-purple-2x, $ic-search-s-2x, $ic-search-2x, $ic-shopping-cart-s-2x, $ic-shopping-cart-2x, $modal-failure-2x, $modal-success-2x, $nav-bg-active-2x, $nav-next-gray-2x, $nav-next-purple-2x, $nav-prev-gray-2x, $nav-prev-purple-hover-2x, $radio-checked-2x, $radio-default-2x, $radio-disabled-checked-2x, $radio-disabled-2x, $radio-error-checked-2x, $radio-error-2x, $radio-hover-2x, $select-checked-s-2x, $select-default-s-2x, $select-default-2x, $tab-bg-default-2x, $tab-information-active-2x, $tab-information-default-2x, $tab-purchase-active-2x, $tab-purchase-default-2x, $tab-qa-active-2x, $tab-qa-default-2x, $tab-record-active-2x, $tab-record-default-2x, );
$retina-spritesheet: (584px, 568px, '../images/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$checkbox-checked-group-name: 'checkbox-checked';
$checkbox-checked-group: ('checkbox-checked', $checkbox-checked, $checkbox-checked-2x, );
$checkbox-default-group-name: 'checkbox-default';
$checkbox-default-group: ('checkbox-default', $checkbox-default, $checkbox-default-2x, );
$checkbox-disabled-checked-group-name: 'checkbox-disabled-checked';
$checkbox-disabled-checked-group: ('checkbox-disabled-checked', $checkbox-disabled-checked, $checkbox-disabled-checked-2x, );
$checkbox-disabled-group-name: 'checkbox-disabled';
$checkbox-disabled-group: ('checkbox-disabled', $checkbox-disabled, $checkbox-disabled-2x, );
$checkbox-error-checked-group-name: 'checkbox-error-checked';
$checkbox-error-checked-group: ('checkbox-error-checked', $checkbox-error-checked, $checkbox-error-checked-2x, );
$checkbox-error-group-name: 'checkbox-error';
$checkbox-error-group: ('checkbox-error', $checkbox-error, $checkbox-error-2x, );
$checkbox-hover-group-name: 'checkbox-hover';
$checkbox-hover-group: ('checkbox-hover', $checkbox-hover, $checkbox-hover-2x, );
$ic-account-s-group-name: 'ic-account-s';
$ic-account-s-group: ('ic-account-s', $ic-account-s, $ic-account-s-2x, );
$ic-account-group-name: 'ic-account';
$ic-account-group: ('ic-account', $ic-account, $ic-account-2x, );
$ic-dropdown-default-group-name: 'ic-dropdown-default';
$ic-dropdown-default-group: ('ic-dropdown-default', $ic-dropdown-default, $ic-dropdown-default-2x, );
$ic-dropdown-down-white-group-name: 'ic-dropdown-down-white';
$ic-dropdown-down-white-group: ('ic-dropdown-down-white', $ic-dropdown-down-white, $ic-dropdown-down-white-2x, );
$ic-form-asc-group-name: 'ic-form-asc';
$ic-form-asc-group: ('ic-form-asc', $ic-form-asc, $ic-form-asc-2x, );
$ic-form-both-group-name: 'ic-form-both';
$ic-form-both-group: ('ic-form-both', $ic-form-both, $ic-form-both-2x, );
$ic-form-desc-group-name: 'ic-form-desc';
$ic-form-desc-group: ('ic-form-desc', $ic-form-desc, $ic-form-desc-2x, );
$ic-hamburger-s-group-name: 'ic-hamburger-s';
$ic-hamburger-s-group: ('ic-hamburger-s', $ic-hamburger-s, $ic-hamburger-s-2x, );
$ic-hamburger-group-name: 'ic-hamburger';
$ic-hamburger-group: ('ic-hamburger', $ic-hamburger, $ic-hamburger-2x, );
$ic-landmark-s-group-name: 'ic-landmark-s';
$ic-landmark-s-group: ('ic-landmark-s', $ic-landmark-s, $ic-landmark-s-2x, );
$ic-landmark-group-name: 'ic-landmark';
$ic-landmark-group: ('ic-landmark', $ic-landmark, $ic-landmark-2x, );
$ic-next-gray-group-name: 'ic-next-gray';
$ic-next-gray-group: ('ic-next-gray', $ic-next-gray, $ic-next-gray-2x, );
$ic-notice-circle-s-group-name: 'ic-notice-circle-s';
$ic-notice-circle-s-group: ('ic-notice-circle-s', $ic-notice-circle-s, $ic-notice-circle-s-2x, );
$ic-notice-circle-group-name: 'ic-notice-circle';
$ic-notice-circle-group: ('ic-notice-circle', $ic-notice-circle, $ic-notice-circle-2x, );
$ic-notice-s-group-name: 'ic-notice-s';
$ic-notice-s-group: ('ic-notice-s', $ic-notice-s, $ic-notice-s-2x, );
$ic-notice-group-name: 'ic-notice';
$ic-notice-group: ('ic-notice', $ic-notice, $ic-notice-2x, );
$ic-prev-gray-hover-group-name: 'ic-prev-gray-hover';
$ic-prev-gray-hover-group: ('ic-prev-gray-hover', $ic-prev-gray-hover, $ic-prev-gray-hover-2x, );
$ic-prev-gray-group-name: 'ic-prev-gray';
$ic-prev-gray-group: ('ic-prev-gray', $ic-prev-gray, $ic-prev-gray-2x, );
$ic-search-purple-group-name: 'ic-search-purple';
$ic-search-purple-group: ('ic-search-purple', $ic-search-purple, $ic-search-purple-2x, );
$ic-search-s-group-name: 'ic-search-s';
$ic-search-s-group: ('ic-search-s', $ic-search-s, $ic-search-s-2x, );
$ic-search-group-name: 'ic-search';
$ic-search-group: ('ic-search', $ic-search, $ic-search-2x, );
$ic-shopping-cart-s-group-name: 'ic-shopping-cart-s';
$ic-shopping-cart-s-group: ('ic-shopping-cart-s', $ic-shopping-cart-s, $ic-shopping-cart-s-2x, );
$ic-shopping-cart-group-name: 'ic-shopping-cart';
$ic-shopping-cart-group: ('ic-shopping-cart', $ic-shopping-cart, $ic-shopping-cart-2x, );
$modal-failure-group-name: 'modal-failure';
$modal-failure-group: ('modal-failure', $modal-failure, $modal-failure-2x, );
$modal-success-group-name: 'modal-success';
$modal-success-group: ('modal-success', $modal-success, $modal-success-2x, );
$nav-bg-active-group-name: 'nav-bg-active';
$nav-bg-active-group: ('nav-bg-active', $nav-bg-active, $nav-bg-active-2x, );
$nav-next-gray-group-name: 'nav-next-gray';
$nav-next-gray-group: ('nav-next-gray', $nav-next-gray, $nav-next-gray-2x, );
$nav-next-purple-group-name: 'nav-next-purple';
$nav-next-purple-group: ('nav-next-purple', $nav-next-purple, $nav-next-purple-2x, );
$nav-prev-gray-group-name: 'nav-prev-gray';
$nav-prev-gray-group: ('nav-prev-gray', $nav-prev-gray, $nav-prev-gray-2x, );
$nav-prev-purple-hover-group-name: 'nav-prev-purple-hover';
$nav-prev-purple-hover-group: ('nav-prev-purple-hover', $nav-prev-purple-hover, $nav-prev-purple-hover-2x, );
$radio-checked-group-name: 'radio-checked';
$radio-checked-group: ('radio-checked', $radio-checked, $radio-checked-2x, );
$radio-default-group-name: 'radio-default';
$radio-default-group: ('radio-default', $radio-default, $radio-default-2x, );
$radio-disabled-checked-group-name: 'radio-disabled-checked';
$radio-disabled-checked-group: ('radio-disabled-checked', $radio-disabled-checked, $radio-disabled-checked-2x, );
$radio-disabled-group-name: 'radio-disabled';
$radio-disabled-group: ('radio-disabled', $radio-disabled, $radio-disabled-2x, );
$radio-error-checked-group-name: 'radio-error-checked';
$radio-error-checked-group: ('radio-error-checked', $radio-error-checked, $radio-error-checked-2x, );
$radio-error-group-name: 'radio-error';
$radio-error-group: ('radio-error', $radio-error, $radio-error-2x, );
$radio-hover-group-name: 'radio-hover';
$radio-hover-group: ('radio-hover', $radio-hover, $radio-hover-2x, );
$select-checked-s-group-name: 'select-checked-s';
$select-checked-s-group: ('select-checked-s', $select-checked-s, $select-checked-s-2x, );
$select-default-s-group-name: 'select-default-s';
$select-default-s-group: ('select-default-s', $select-default-s, $select-default-s-2x, );
$select-default-group-name: 'select-default';
$select-default-group: ('select-default', $select-default, $select-default-2x, );
$tab-bg-default-group-name: 'tab-bg-default';
$tab-bg-default-group: ('tab-bg-default', $tab-bg-default, $tab-bg-default-2x, );
$tab-information-active-group-name: 'tab-information-active';
$tab-information-active-group: ('tab-information-active', $tab-information-active, $tab-information-active-2x, );
$tab-information-default-group-name: 'tab-information-default';
$tab-information-default-group: ('tab-information-default', $tab-information-default, $tab-information-default-2x, );
$tab-purchase-active-group-name: 'tab-purchase-active';
$tab-purchase-active-group: ('tab-purchase-active', $tab-purchase-active, $tab-purchase-active-2x, );
$tab-purchase-default-group-name: 'tab-purchase-default';
$tab-purchase-default-group: ('tab-purchase-default', $tab-purchase-default, $tab-purchase-default-2x, );
$tab-qa-active-group-name: 'tab-qa-active';
$tab-qa-active-group: ('tab-qa-active', $tab-qa-active, $tab-qa-active-2x, );
$tab-qa-default-group-name: 'tab-qa-default';
$tab-qa-default-group: ('tab-qa-default', $tab-qa-default, $tab-qa-default-2x, );
$tab-record-active-group-name: 'tab-record-active';
$tab-record-active-group: ('tab-record-active', $tab-record-active, $tab-record-active-2x, );
$tab-record-default-group-name: 'tab-record-default';
$tab-record-default-group: ('tab-record-default', $tab-record-default, $tab-record-default-2x, );
$retina-groups: ($checkbox-checked-group, $checkbox-default-group, $checkbox-disabled-checked-group, $checkbox-disabled-group, $checkbox-error-checked-group, $checkbox-error-group, $checkbox-hover-group, $ic-account-s-group, $ic-account-group, $ic-dropdown-default-group, $ic-dropdown-down-white-group, $ic-form-asc-group, $ic-form-both-group, $ic-form-desc-group, $ic-hamburger-s-group, $ic-hamburger-group, $ic-landmark-s-group, $ic-landmark-group, $ic-next-gray-group, $ic-notice-circle-s-group, $ic-notice-circle-group, $ic-notice-s-group, $ic-notice-group, $ic-prev-gray-hover-group, $ic-prev-gray-group, $ic-search-purple-group, $ic-search-s-group, $ic-search-group, $ic-shopping-cart-s-group, $ic-shopping-cart-group, $modal-failure-group, $modal-success-group, $nav-bg-active-group, $nav-next-gray-group, $nav-next-purple-group, $nav-prev-gray-group, $nav-prev-purple-hover-group, $radio-checked-group, $radio-default-group, $radio-disabled-checked-group, $radio-disabled-group, $radio-error-checked-group, $radio-error-group, $radio-hover-group, $select-checked-s-group, $select-default-s-group, $select-default-group, $tab-bg-default-group, $tab-information-active-group, $tab-information-default-group, $tab-purchase-active-group, $tab-purchase-default-group, $tab-qa-active-group, $tab-qa-default-group, $tab-record-active-group, $tab-record-default-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
