$path: "~/../../images/";
.welcome-tip-cover {
  // display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #333, $alpha: 0.6);
  .tip-bubble {
    position: absolute;
    z-index: 0;
    top: -168px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 295px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 24px 0 20px;
    margin: 0 auto;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 33px;
      height: 31px;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      background: url($path + "dialog-triangle.svg") center no-repeat;
      background-size: contain;
    }
    h2 {
      color: $blue-500;
    }
    p {
      font-size: 14px;
      color: $gray-800;
    }
  }
}

.white-border {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.service-content {
  padding: 15px;
}
.service-lists {
  //連結按鈕
  padding: 0;
  &.txt-left {
    li {
      a {
        text-align: left;
        .service-btn-txt {
          text-align: left;
        }
      }
    }
  }
  li {
    width: 100%;
    & + li {
      margin-top: 16px;
    }
    a {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      letter-spacing: 1px;
      text-align: center;
      color: $blue-500;
      padding: 7px 20px;
      border-radius: 2px;
      border: solid 1px rgba(255, 255, 255, 0.55);
      background-color: rgba(255, 255, 255, 0.35);
      text-decoration: none;
      transition: all 0.3s;
      &:active,
      &:hover {
        background-color: rgba($color: #49bfee, $alpha: 0.3);
      }

      .service-btn-txt {
        font-size: 16px;
        letter-spacing: 1px;
        text-align: center;
        color: $blue-500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
  &.flex-center {
    li {
      & + li {
        margin-top: 0px;
        margin-left: 10px;
      }
    }
  }
}
.more-box {
  text-decoration: none;
  margin-top: 12px;
  @include flex(center, center);
  p {
    color: $gray-700;
    padding-left: 8px;
    margin: 0;
  }
}
.txt-lists {
  padding: 0 15px;
  &.flex-style {
    li {
      @include flex(space-between, center);
    }
  }
  &.list-scroll {
    overflow-y: auto;
    max-height: 388px;
  }
  &.dialog-txt-lists {
    li {
      padding: 4px 0;
      & + li {
        border-top: none;
      }
      &:last-of-type {
        padding: 4px 0 0 0;
      }
    }
  }
  li {
    padding: 10px 0;
    & + li {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
}
.selection-box {
  position: relative;
  z-index: 2;
  // padding: 10px 15px;
  @include flex(flex-start, center);

  &.disabled {
    .select-box {
      border: solid 1.5px $gray-200;
      background-color: $gray-200;
      color: $gray-500;
      &:after {
        content: none;
      }
    }
  }
  .card-img {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 15px;
    width: 50px;
    transform: translateY(-50%);
  }
  .select-box {
    position: relative;
    z-index: 2;
    width: 100%;
    border-radius: 10px;
    border: solid 1.5px $gray-200;
    background-color: $white;
    padding: 8px 12px;
    color: $gray-500;
    font-size: 16px;
    span {
      color: $gray-500;
    }
    &.active-color {
      color: $gray-800;
    }
    &::after {
      content: "";
      position: absolute;
      right: 8px;
      top: 6px;
      width: 24px;
      height: 24px;
      background: url($path + "ic-under-blue.svg") center no-repeat;
      background-size: contain;
      transition: all 0.3s;
    }

    &.on {
      &:after {
        transform: rotate(-180deg);
      }
    }
    &.img-style {
      border: none;
      background-color: #f9f9f9;
      padding: 8px 12px 8px 60px;
      &::after {
        right: 0;
      }
    }
  }
  .select-options {
    display: none;
    position: absolute;
    z-index: 1;
    top: 38px;
    left: 0px;
    max-width: 100%;
    width: 100%;
    border: solid 1.5px #d2d2d2;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
    &.short-width {
      max-width: calc(100% - 30px);
      left: 15px;
      top: 44px;
    }
    li {
      font-size: 16px;
      letter-spacing: 0.5px;
      color: $gray-800;
      padding: 9px 12px;
      span {
        color: $gray-500;
      }
      &.selected {
        background-color: $blue-500;
        color: $white;
        span {
          color: $white;
        }
      }
    }
  }
}

.data-count-box {
  // @include flex(space-between, center);
  text-align: right;
  width: 100%;
  padding: 4px 15px;
  border-top: solid 1px #d2d2d2;
  // padding: 10px 15px;
  // border: solid 1px #d2d2d2;
  // background-color: #e1f3fd;
  color: $gray-700;
  // span {
  //   margin: 0 0 0 10px;
  // }
  &.flex-style {
    @include flex(space-between, center);
    padding: 10px 15px;
    border-top: solid 1px #d2d2d2;
    border-bottom: solid 1px #d2d2d2;
    background-color: #e1f3fd;
    span {
      margin: 0 0 0 10px;
    }
  }
}
.select-Height-control {
  @include maxHeightCount(94px);
  margin-top: 6px;
  padding: 10px 0;
}

.infomation-box {
  & + .infomation-box {
    margin-top: 16px;
  }
  > ul {
    padding: 6px 0 0 0;
    li {
      @include flex(space-between, center);
      flex-wrap: wrap;
      // padding: 8px 15px 2px;
      padding: 4px 15px;
      border-bottom: dashed 1.5px #d2d2d2;
    }
  }
  .trade-detail-lists {
    padding-left: 40px;
    padding-right: 30px;
    li {
      border-bottom: none;
      padding: 4px 0;
      p {
        color: $gray-500;
      }
    }
  }
  .info-left {
    max-width: 60%;
    @include flex(flex-start, center);
  }
  .info-right {
    max-width: 40%;
    text-align: right;
  }
  .info-date-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $blue-500;
    text-align: center;
    p {
      line-height: 30px;
      color: $white;
    }
  }
  .info-price-box {
    display: inline-block;
    vertical-align: middle;
  }
}
.time-search-box {
  border-bottom: solid 1px #d2d2d2;
  background-color: #e1f3fd;
  padding: 6px 15px;
  ul {
    padding: 0;
    li {
      padding: 4px 0;
      @include flex(space-between, center);
    }
  }
}
.time-search-Height-control {
  @include maxHeightCount(110px);
  margin-top: 10px;
  padding: 10px 0;
}
.show-date {
  position: relative;
  z-index: 0;
}
.ic-day {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  right: 12px;
}
.exsample-info {
  position: absolute;
  right: 0;
  top: -2px;
  span {
    font-size: 14px;
  }
}
