// highlight style
/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #d54e53;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #e78c45;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b9ca4a;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #70c0b1;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #7aa6da;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #c397d8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: black;
  color: #eaeaea;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

html,
body {
  height: 100%;
  font-family: $font-family;
  color: $black;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

.guid {
  height: 100%;

  .bd {
    &-sidebar {
      height: 100vh;
    }
    &-content {
      padding: 30px 40px;
      height: 100%;
      overflow-x: hidden;
    }
  }
  .navbar {
    height: 100%;
    width: 100%;
    padding: 0;
    box-shadow: none;
    align-items: flex-start;
    &-collapse {
      width: 100%;
    }
    &-nav {
      flex-direction: column;
      width: 100%;
    }
    .nav {
      &-item {
        padding-bottom: 0;
        border-bottom: 1px solid #dfdfdf;
        font-size: 18px;
      }
      &-link {
        display: block;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        color: $black;
      }
    }
    .dropdown {
      &-menu {
        width: 100%;
        position: static;
        border: none;
        background-color: #dbdbdb;
        border-radius: 0;
        padding: 0;
      }
      &-item {
        padding: 10px 20px;
        border-bottom: 1px solid #f8f9fa;
        &:active {
          background-color: #dbdbdb;
        }
      }
      &-toggle::after {
        content: none;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding-bottom: 10px;
    font-weight: 400;
  }

  button:focus {
    outline: none;
  }

  pre {
    font-family: monospace;
    font-size: 13px;
    line-height: 1.4;
    overflow: auto;
    letter-spacing: 0;
    margin-bottom: 0;
  }

  .row {
    pre {
      padding: 20px;
      border-radius: 3px;
      border: 1px solid #e3e3e3;
    }
  }

  .tag {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1;
    code {
      padding: 0;
      border-radius: 3px;
      display: block;
      margin-top: 24px;
      margin-bottom: 48px;
      max-height: 600px;
      border: 1px solid #d7e4e4;
      margin-right: 10px;
    }
  }

  .preview {
    div[class*="col-"] {
      border: 1px solid #7d8a94;
      background: #aeb6bd;
    }
  }

  .colours {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px -10px;

    .color {
      display: flex;
      width: calc(18% - 30px);
      flex-direction: column;
      margin: 0 15px 20px;
      font-size: 14px;
      border-radius: 12px;
      background: #ffffff;
      box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.3);

      .box {
        border-radius: 12px 12px 0 0;
        padding-bottom: 150px;
      }

      .content {
        border-radius: 0 0 12px 12px;
        background: #fff;
        padding: 8px 16px;
        font-weight: 300;
      }
    }
  }
}

.guided-row {
  padding: 20px;
  border-radius: 3px;
  margin-top: 24px;
  border: 1px solid #d1d1d1;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.demo-block {
  &-inner {
    border: 1px solid #e3e3e3;
    padding: 30px;
    background-color: lightslategray;
  }
  .controls {
    display: flex;
    span {
      display: inline-block;
      font-size: 14px;
      border-bottom: none;
      color: #333;
      padding: 4px 12px;
      margin-right: 1px;
      margin-bottom: -1px;
      border: 1px solid transparent;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      cursor: pointer;
      border-radius: 3px;
      &.active {
        background-color: #fff;
        border-color: #e3e3e3 #e3e3e3 #fff;
      }
    }
  }
  .content pre {
    padding: 0px;
    border-radius: 3px;
    border: none;
  }
}

@include media-breakpoint-down("lg") {
  .guid {
    height: auto;

    .navbar {
      height: auto;
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      .navbar-toggler {
        min-height: 50px;
        width: auto;
        border: none;
      }
      .nav-link {
        min-height: 0;
      }
    }

    .bd-sidebar {
      height: auto;
    }

    .bd-content {
      margin-top: 60px;
      overflow: hidden;
    }

    .colours > .color {
      width: calc(50% - 30px);
    }
  }
}
