.navbar-main {
  max-width: 1000px;
  margin: auto;
  padding: 0;
  .navbar-nav {
    margin: 0 auto;
    width: 984px;
    background-image: url(../images/nav-main-center-default.png);
    background-repeat: repeat-x;
    &::before,
    &::after {
      @include pseudo();
      @include size(12px, auto);
      position: relative;
    }
    &::before {
      background-image: url(../images/nav-main-left-default.png);
      left: -12px;
    }
    &::after {
      background-image: url(../images/nav-main-right-default.png);
      right: -12px;
    }
  }
  .nav {
    &-item {
      cursor: pointer;
      flex: 1;
      text-align: center;
      padding: 0 12px;
      height: 64px;
      @include flex($a: center, $j: center);
      position: relative;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &::after {
        @include pseudo();
        @include position-center();
        position: absolute;
        top: -5px;
        left: 0px;
        transform: scale(0.9) rotate(3deg);
      }
      &.active {
        &::after {
          @include retina-sprite($nav-bg-active-group);
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    &-link {
      padding: 0;
      color: #fff;
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .dropdown {
    &-menu {
      border: none;
      padding: 8px 0;
      border-radius: 8px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      width: 250px;
      a {
        color: $purple-500;
        &:hover {
          background-color: $gray-200;
          color: $purple-500;
        }
      }
    }
    &-toggle {
      position: relative;
      &::after {
        display: none;
      }
    }
    &-item {
      padding: 10px 16px;
    }
  }
}
