.table {
  color: $black;
  thead {
    color: $purple-500;
    th {
      border-bottom: solid 2px $purple-300;
      border-top: 0;
    }
  }
  th,
  td {
    border-top: 0;
    padding: 8px 12px;
    vertical-align: middle;
  }
  tr {
    &:nth-child(even) {
      background-color: $purple-100;
    }
  }
  .btn {
    min-width: 50px;
    padding: 5px 10px;
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
