@mixin btn-box-show($color) {
  box-shadow: 0 0.35em 0 0 $color;
}

@mixin btn-ani() {
  transform: translateY(3px);
  box-shadow: inherit;
}

button {
  color: inherit;
  border: none;
  outline: none;
}

button:focus,
.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* bootstrap: btn -------------------- */

.btn {
  @include tran();
  padding: 10px 20px;
  border-radius: 2px;
  border: solid 1px $blue-500;
  background-color: $blue-500;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: $white;

  &:focus,
  &.focus,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled):active {
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 1;
  }
  &:active {
    border: solid 1px $blue-300;
    background-color: $blue-300;
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &.secondary {
    border: solid 1px $blue-500;
    background-color: $white;
    color: $blue-500;
    &:active {
      // border: solid 1px $blue-300;
      background-color: rgba(73, 191, 238, 0.3);
    }
  }
  @include media-breakpoint-up("xs") {
    padding: 10px 14px;
  }
}
.md-btn {
  position: absolute;
  bottom: 18px;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  @include tran();
  display: inline-block;
  border-radius: 20px;
  border: solid 1px $blue-500;
  background-color: $white;
  width: auto;
  padding: 7px 20px;
  font-size: 0;
  p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: $blue-500;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
  }
  &:active {
    background-color: rgba(73, 191, 238, 0.3);
  }
}
