$input-red-color: $orange-700; // required and invalid
$input-padding: 9px 16px;
$input-placeholder: $gray-500;
$input-radius: 10px;
$input-radio-checkbox-size: 24px;
$path: "~/../../images/";
// /* default setting for input, textarea, select -------------------- */
@mixin input($height: 40px) {
  width: 100%;
  height: $height;
  border-radius: $input-radius;
  border: 1px solid rgba($color: #d2d2d2, $alpha: 1);
  padding: $input-padding;
  color: $gray-800;
  background-color: rgba($color: $white, $alpha: 1);
  &:hover,
  &:focus {
    background-color: rgba($color: $white, $alpha: 1);
  }
  &:focus {
    box-shadow: none;
    background-color: rgba($color: $white, $alpha: 1);
  }
  &::placeholder {
    color: $input-placeholder;
  }
  &.error {
    border: 1px solid rgba($color: $input-red-color, $alpha: 1);
  }
  &:disabled,
  &.disabled {
    background-color: rgba($color: $gray-200, $alpha: 1);
    border: 1px solid rgba($color: $gray-200, $alpha: 1);
    color: $gray-500;
    // -webkit-text-fill-color: $gray-500; // for safari
  }
}

// // clears the 'X' from Internet Explorer
// input::-ms-clear {
//   display: none;
//   height: 0;
//   width: 0;
// }

// // clears type = number arrow
// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
//   appearance: none;
//   margin: 0;
// }

// // clears type = number arrow
// input[type="number"] {
//   -moz-appearance: textfield;
// }

// // select::-ms-expand {
// //   display: none;
// // }

// /* bootstrap: label -------------------- */
// .form-label {
//   margin-bottom: 0.5rem;
// }
// .col-form-label {
//   padding-top: calc(0.35rem + 1px);
//   padding-bottom: calc(0.35rem + 1px);
// }

// /* bootstrap: original input -------------------- */
input,
input.form-control {
  @include input();
  -webkit-appearance: none;
}

// /* radio & check -------------------- */
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  z-index: 0;
  @include size($input-radio-checkbox-size);
  appearance: none;
  background-color: $white;
  border: solid 1px $blue-500;
  min-width: 24px;
  margin: 0;
  padding: 0;
  opacity: 1;
  cursor: pointer;
  border-radius: 2.5px;
  display: inline-block;
  vertical-align: middle;
  &:disabled,
  &[disabled],
  &.disabled {
    + label {
      color: $gray-800;
    }
  }
  &::before {
    content: none;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    width: 24px;
    height: 24px;
    background: url($path + "checkbox-hook.svg") center no-repeat;
    background-size: cover;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  margin: 0;
  font-size: 14px;
  &::before {
    // @include pseudo($display: inline-block);
    // left: 0;
    // position: absolute;
  }
}

// /* setting radio img -------------------- */
// input[type="radio"] {
//   + label::before {
//     @include retina-sprite($radio-default-group);
//   }
//   &:hover + label::before {
//     @include retina-sprite($radio-hover-group);
//   }
//   &:checked + label::before {
//     @include retina-sprite($radio-checked-group);
//   }
//   &[disabled],
//   &.disabled {
//     + label::before {
//       @include retina-sprite($radio-disabled-group);
//     }
//     &:checked + label::before {
//       @include retina-sprite($radio-disabled-checked-group);
//     }
//   }
// }

// /* setting checkbox img -------------------- */
input[type="checkbox"] {
  + label::before {
    // @include retina-sprite($checkbox-default-group);
  }
  &:hover + label::before {
    // @include retina-sprite($checkbox-hover-group);
  }
  &:checked {
    // @include retina-sprite($checkbox-checked-group);
    background-color: $blue-500;
    &::before {
      content: "";
    }
  }
  // &:checked + label::before {
  //   // @include retina-sprite($checkbox-checked-group);
  //   background-color: $blue-500;
  // }
  &[disabled],
  &.disabled {
    + label::before {
      @include retina-sprite($checkbox-disabled-group);
    }
    &:checked + label::before {
      @include retina-sprite($checkbox-disabled-checked-group);
    }
  }
}

// /* bootstrap: form-check > radio & checkbox -------------------- */
// .form-check {
//   min-height: $input-radio-checkbox-size;
//   padding-left: 0;
//   margin-bottom: 10px;
//   margin-top: 10px;
//   &-label {
//     padding-left: 10px;
//     padding-top: 0.25rem;
//   }
//   &-inline {
//     margin-right: 40px;
//     display: inline-flex;
//   }

//   &-only {
//     display: inline-block;
//     input[type="checkbox"] + label,
//     input[type="radio"] + label {
//       position: absolute;
//       padding-left: $input-radio-checkbox-size;
//       padding-top: 0;
//     }
//   }
// }

// /* bootstrap: textarea -------------------- */
textarea,
textarea.form-control {
  -webkit-appearance: none;
  @include input(auto);
  width: 100%;
  max-width: none;
}

// /* bootstrap: select -------------------- */
select,
.form-select {
  @include input();
  // appearance: none;
  text-overflow: ellipsis;
  &:disabled {
    color: $gray-500;
  }
}

// .form-group {
//   .bs-select {
//     width: 100%;
//     .select-placeholder {
//       color: $input-placeholder;
//     }
//     .dropdown {
//       &-toggle {
//         @include input(auto);
//         @include flex(space-between, top);
//         text-align: left;
//         margin: 0;
//         width: 100%;
//         &::after {
//           vertical-align: middle;
//         }
//       }
//       &-item {
//         padding: $input-padding;
//         font-weight: normal;
//         &:hover {
//           background-color: $gray-200;
//         }
//         &.active {
//           background-color: #fff;
//           color: $green-500;
//         }
//       }
//     }
//   }
// }

// /* required -------------------- */
// .required {
//   label,
//   .col-form-label,
//   .legend {
//     &::after {
//       content: "*";
//       color: $input-red-color;
//     }
//   }
// }

// /* invalid -------------------- */
// .invalid {
//   &-feedback {
//     @include text($size: 13px, $color: $input-red-color);
//     margin-top: 4px;
//     width: 100%;
//     display: none;
//   }
//   input,
//   textarea,
//   .form-control {
//     border-color: $input-red-color;
//     &:focus,
//     &:hover:focus,
//     &:hover {
//       border-color: $input-red-color;
//     }
//   }
//   select,
//   .form-select,
//   .bs-select .select-wrapper,
//   .bs-select .select-wrapper:hover,
//   .bs-select .select-wrapper:focus {
//     border-color: $input-red-color;
//   }
//   .invalid-feedback {
//     display: block;
//   }
//   input[type="checkbox"] {
//     + label::before {
//       @include retina-sprite($checkbox-error-group);
//     }
//     &:checked + label::before {
//       @include retina-sprite($checkbox-error-checked-group);
//     }
//   }
//   input[type="radio"] {
//     + label::before {
//       @include retina-sprite($radio-error-group);
//     }
//     &:checked + label::before {
//       @include retina-sprite($radio-error-checked-group);
//     }
//   }
//   .form-check-label {
//     color: $input-red-color;
//   }
// }

// /* form-text -------------------- */
// .form-text {
//   @include text($size: 13px, $color: $gray-400);
//   margin-top: 4px;
// }
