.bg {
  &-blue {
    background-color: $blue-500;
  }
  &-lightblue {
    background-color: $blue-300;
  }
  &-blue-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#12a0de+0,24e783+100 */
    background: rgb(18, 160, 222); /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      rgba(18, 160, 222, 1) 0%,
      rgba(36, 231, 131, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      rgba(18, 160, 222, 1) 0%,
      rgba(36, 231, 131, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      rgba(18, 160, 222, 1) 0%,
      rgba(36, 231, 131, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a0de', endColorstr='#24e783',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &-darkorange {
    background-color: $orange-700;
  }
  &-orange {
    background-color: $orange-500;
  }
  &-lightorange {
    background-color: $orange-300;
  }
  &-black {
    background-color: $black;
  }
  &-darkergray {
    background-color: $gray-800;
  }
  &-darkgray {
    background-color: $gray-700;
  }
  &-gray {
    background-color: $gray-500;
  }
  &-lightgray {
    background-color: $gray-200;
  }
  &-white {
    background-color: $white;
  }
}

.text {
  &-black {
    background-color: $black;
  }
  &-darkergray {
    background-color: $gray-800;
  }
  &-darkgray {
    background-color: $gray-700;
  }
  &-gray {
    background-color: $gray-500;
  }
  &-lightgray {
    background-color: $gray-200;
  }
  &-white {
    background-color: $white;
  }
}

h1,
.h1 {
  @include text($size: 20px, $weight: null);
  margin: 0;
}

h2,
.h2 {
  @include text($size: 18px, $weight: null);
  margin: 0;
}

h3,
.h3 {
  @include text($size: 16px, $weight: null);
  margin: 0;
}

h4,
.h4 {
  @include text($size: 14px, $weight: null);
  margin: 0;
}
p {
  font-size: 14px;
  color: $gray-800;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

.icon {
  display: inline-block;
}
